<ul class="rules">
    <li>
    هرتیم متشكل از 12 نفر ورزشكار، یك مربی و یك سرپرست، جمعا 14 نفر می باشد.‬  
    </li>
    <li>
‫‪ ‬مسابقات بر اساس آخرین قوانین و مقررات فدراسیون بین المللی والیبال (  FIVB )‬برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬مسابقات بر اساس جدول فیزو( FISU )برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬هر تیم موظف است دو دست پیراهن، شورت ورزشی به رنگ های روشن و تیره به همراه داشته باشد.‬  
    </li>
    <li>
لباس بازیکنان شامل پیراهن آستین کوتاه، شورت، جوراب و کفش ورزشی می باشد که رنگ و طرح پیراهن، شورت و جوراب بازیکنان برای تمامی اعضای تیم یکسان می باشد  ( استثنا برای لیبرو قانون 2 -20 ) کفش میتواند به هر رنگی باشد.

    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/bvolleyball.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات تنیس والیبال
        </a>
    </div>
</div>