<ul class="rules">
    <li>
    تعداد نفرات شركت كننده هر دانشگاه طبق سهمیه های مندرج در جدول ارسالی تعیین گردیده است.‬  
    </li>
    <li>
‫‪(WTF) مسابقات براساس آخرین قوانین و مقررات فدراسیون بین المللی تكواندو ‬  برگزار می شود
    </li>
    <li>
تیم ها موظفند کلاه، جوراب الکترونیکی سنسوردار و سایر لوازم ایمنی به همراه داشته باشند.
    </li>
    <li>
مسابقات با هوگو الکترونیکی برگزار خواهد شد.
    </li>
    <li>
مسابقات در هشت وزن (54 ، -58 ،-63 ،-68 ، -74، -80 ،-87 -و 87 (+در سه راند دو دقیقه ای برگزار می شود.
    </li>
    <li>
دانشجویان شرکت کننده در مسابقات باید حداقل دارای کمر بند مشکی دان یک به بالا و مورد تایید فدراسیون تکواندو و یا هیات های تکواندو
استان ها باشند
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/bteakwondo.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات تنیس تکواندو
        </a>
    </div>
</div>