<ul class="rules">
    <li>
    تعداد نفرات شركت كننده هر دانشگاه طبق سهمیه های مندرج در جداول ارسالی تعیین گردیده است.‬  
    </li>
    <li>
‫ مسابقات بر اساس آخرین قوانین و مقررات فدراسیون بین المللی شنا (FINA)‬ برگزار خواهد شد.‬  
    </li>
    <li>
هر شناگر مجاز است در 3 ماده انفرادی و 2 ماده تیمی و جمعاً در 5 ماده شرکت نمایند.
    </li>
    <li>
هر دانشگاه در هر رشته انفرادی میتواند دو شرکت کننده و در تیمی یک تیم داشته باشد.
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/bswimming.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات شنا
        </a>
    </div>
</div>