<ul class="rules">
    <li>
    هرتیم متشكل از 4 نفر ورزشكار، یك مربی و یك سرپرست، جمعاً 6 نفر می باشد.‬  
    </li>
    <li>
‫‪ ‬مسابقات براساس آخرین قوانین و مقررات فدراسیون بینالمللی تنیس روی میز (ITTF) ‬برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬مسابقات تیمی به روش آسیایی جدید برگزار میشود. 
    </li>
    <li>
هر تیم موظف است دو دست پیراهن ورزشی آستین کوتاه در دو رنگ تیره و روشن و شورت تا زیر زانو بهمراه داشته باشند.
    </li>
    <li>
‫‪ ‬تیم ها موظفند 30دقیقه قبل از شروع مسابقه در سالن حضور داشته باشند.‬  
    </li>
    <li>
‫‪ ‬استفاده از پیراهن و شورت ورزشی به رنگ سفید و كرم ممنوع است.‬  
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/btabletennis.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات تنیس روی میز
        </a>
    </div>
</div>