<ul class="rules">
    <li>
هر تیم متشکل از 12 نفر ورزشکار، یک مربی و یک سرپرست جمعا 14 نفر می باشد.
    </li>
    <li>
‫‪ ‬مسابقات طبق آخرین قوانین و مقررات فدراسیون بین المللی فوتبال (FIFA)‬برگزار خواهد شد.‬  
    </li>
    <li>
‫‪ ‬مسابقات بر اساس جدول فیزو (FISU) ‬برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬هر تیم موظف است دو دست پیراهن ورزشی به رنگهای روشن و تیره به همراه داشته باشد.‬  
    </li>
    <li>
همه بازیکنان موظفند گارد محافظ پا (قلم بند) در جریان مسابقه استفاده نمایند.
    </li>
    <li>
شماره پیراهن بازیکنان بایستی در پشت و جلو پیراهن و شماره روی شورت در قسمت جلو سمت چپ باشد.
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/bfutsal.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات فوتسال
        </a>
    </div>
</div>