<ul class="rules">
    <li>هرتیم متشكل از حداقل 4 و حداكثر 6 نفر ورزشكار به همراه یك مربی و یك سرپرست می باشد.‬  
    </li>
    <li>
مسابقات بر اساس آخرین قوانین فدراسیون جهانی بدمینتون B.W.F برگزار می شود.   
    </li>
    <li>
‫‪‬مسابقات در سه قسمت تیمی، انفرادی، دوبل دانشگاهی برگزار می شود.‬  
    </li>
    <li>
‫‪‬هرتیم موظف است دو دست پیراهن ورزشی آستین كوتاه و شورت ورزشی همرنگ به همراه داشته باشند.‬  
    </li>
    <li>
‬مسابقات با توپ پلاستیكی یونكس 350 دور سبز برگزارمی گردد.‬  
    </li>
    <li>
‫‪‬مسابقات تیمی در دور اول به صورت دوره ای و در دورهای بعدی به صورت تك حذفی برگزار خواهد شد.‬  
    </li>
    <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/bbadminton.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات بدمینتون
        </a>
    </div>
</div>