<ul class="rules">
    <li>
    هر تیم متشكل از 12 نفر ورزشكار، یك مربی و یك سرپرست جمعا 14 نفر می باشد.‬  
    </li>
    <li>
‫‪‬مسابقات طبق آخرین قوانین و مقررات فدراسیون بین المللی بسكتبال FIBA برگزار خواهد شد.‬  
    </li>
    <li>
‫‪ ‬شیوه برگزاری مسابقات بر اساس جدول فیزو (FISU‪ ‬ ) می باشد. 
    </li>
    <li>
‫‪ ‬هرتیم موظف است دو دست پیراهن و شلوارك ورزشی به رنگهای روشن و تیره به همراه داشته باشد.‬  
    </li>
    <li>
استفاده  ‫‪ از پیراهن طوسی رنگ برای بازیكنان مجاز نمی باشد‬  
    </li>
    <li>
شماره پیراهن بازیکنان بایستی از 4 الی 15 و به فارسی بوده و اندازه شماره ها در پشت پیراهن 20 سانتی متر و جلو 10 سانتی متر باشد
    </li>
    <li>
مسابقات با توپ استاندارد مورد نظر فدراسیون (مولتن دو رنگ) شماره 7 برگزار خواهد شد.    </li>
    <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/bbasketball.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات بسکتبال
        </a>
    </div>
</div>