<ul class="rules">
    <li>
هر دانشگاه میتواند در هر ماده 2 شرکت کننده داشته باشد و هر ورزشکار میتواند در 3 ماده، اعم از انفرادی و امدادی شرکت نماید.    </li>
    <li>
مسابقات مطابق با آخرین نسخه قوانین و مقررات انجمن بین المللی فدراسیون های دو و میدانی (2017-2016 Book Rule IAAF(
برگزار می گردد
    </li>
    
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/btrack.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات تنیس دوومیدانی
        </a>
    </div>
</div>