<ul class="rules">
    <li>
    تعداد نفرات شركت كننده هر دانشگاه طبق سهمیه های مندرج در جدول ارسالی گردیده است.‬  
    </li>
    <li>
‫‪ ‬مسابقات دو و میدانی بر اساس آخرین قوانین و مقررات فدراسیون بین المللی دو و میدانی IAAF ‪ )‬ ) برگزار می شود.‬  
    </li>
    <li>
هر دانشگاه می تواند در هر ماده 2 نفر شركت كننده داشته باشد.‬  
    </li>
    <li>
هر شركت كننده می تواند در 3 ماده (2 ماده انفرادی و 1ماده امدادی )شركت نمایند.‬  
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/gtrack.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات تنیس دوومیدانی
        </a>
    </div>
</div>