<ul class="rules">
    <li>
    تعداد نفرات شركت كننده هر دانشگاه طبق سهمیه های مندرج در جداول ارسالی تعیین گردیده است.‬  
    </li>
    <li>
‫ مسابقات بر اساس آخرین قوانین و مقررات فدراسیون بین المللی شنا (FINA)‬ برگزار خواهد شد.‬  
    </li>
    <li>
‫‫هر شناگر حق شركت در 3 رشته انفرادی و 2 رشته تیمی را دارد‬  
    </li>
    <li>
‫با توجه به اینكه كلیه رشته های انفرادی و تیمی هر یك به عنوان یك ماده محسوب می شوند شناگران ملی و یا لیگ برتر و یا قهرمان‬ ‫كشوری( از فروردین 1390تاكنون) فقط حق شركت در دو ماده را دارند‬  
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/gswimming.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات شنا
        </a>
    </div>
</div>