<ul class="rules">
    <li>
    هرتیم متشكل از 12 نفر ورزشكار، یك مربی و یك سرپرست، جمعا 14 نفر می باشد.‬  
    </li>
    <li>
‫‪ ‬مسابقات بر اساس آخرین قوانین و مقررات فدراسیون بین المللی والیبال (  FIVB )‬برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬مسابقات بر اساس جدول فیزو( FISU )برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬هر تیم موظف است دو دست پیراهن، شورت ورزشی به رنگ های روشن و تیره به همراه داشته باشد.‬  
    </li>
    <li>
‫‪ ‬لباس بازیكنان شامل پیراهن آستین كوتاه، شورت، جوراب و كفش ورزشی می باشد كه رنگ و طرح پیراهن، شورت و جوراب بازیكنان‬ ‫برای تمامی اعضای تیم یكسان می باشد (استثنا برای لیبرو قانون 2-20 ) . كفش می تواند به هر رنگی باشد.‬  
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/gvolleyball.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات تنیس والیبال
        </a>
    </div>
</div>