<ul class="rules">
    <li>
    هر تیم متشكل از 12 نفر ورزشكار، یك مربی و یك سرپرست جمعا 14 نفر می باشد.‬  
    </li>
    <li>
‫‪ ‬مسابقات طبق آخرین قوانین و مقررات فدراسیون بین المللی فوتبال (FIFA)‬برگزار خواهد شد.‬  
    </li>
    <li>
‫‪ ‬مسابقات بر اساس جدول فیزو (FISU) ‬برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬هر تیم موظف است دو دست پیراهن ورزشی به رنگهای روشن و تیره به همراه داشته باشد.‬  
    </li>
    <li>
‫‪ ‬شماره پیراهن بازیكنان بایستی به فارسی به اندازه 20سانتی متر در پشت و به اندازه 10سانتی متر در جلو پیراهن و شماره روی شورت در‬ ‫قسمت جلو به اندازه 10سانتی متر در سمت چپ باشد و می بایست از شماره یك تا 15 استفاده شود.‬  
    </li>
    <li>
‫‪ ‬لباس دروازه بانان باید متحد الشكل و یك رنگ باشد.‬  
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/gfutsal.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات فوتسال
        </a>
    </div>
</div>