<ul class="rules">
    <li>
    تعداد نفرات شركت كننده هر دانشگاه طبق سهمیه های مندرج در جدول ارسالی تعیین گردیده است.‬  
    </li>
    <li>
‫‪(WTF) مسابقات براساس آخرین قوانین و مقررات فدراسیون بین المللی تكواندو ‬  برگزار می شود
    </li>
    <li>
‫‪ ‬تیم ها موظفند كلاه- هوگو و سایر لوازم ایمنی (ساعد و ساق بند، لثه وكاپ)به همراه داشته باشند.‬  
    </li>
    <li>
‫‪ ‬مسابقات در هشت وزن(64- ، 94- ، 35-، 75-، 26- ، 76- ، 37- و 37 ) در سه راند دو دقیقه ای برگزار می شود.‬  
    </li>
    <li>
‫‪ ‬وزن كشی با 200 گرم ارفاق در ساعت 16 الی 18  روز قبل از مسابقه هر وزن انجام می شود.‬  
    </li>
    <li>
‫‪ دانشجویان شركت كننده در مسابقات باید حداقل دارای كمر بند قرمز به بالا مورد تایید فدراسیون تكواندو و یا هیات های تكواندو استان ها‬ ‫باشند.‬  
    </li>
 <li>...</li>
</ul>
<div>
    برای دریافت متن کامل قوانین و مقررات روی لینک زیر کلیک کنید.
    <div style="margin-top:10px;">
        <a href="http://sems.um.ac.ir/guides/gteakwondo.pdf" class="btn btn-primary font-color-silver">
            <i class="glyphicon glyphicon-download"></i> 
            دریافت فایل کامل راهنمای عمومی و فنی مسابقات تنیس تکواندو
        </a>
    </div>
</div>