<table class="tbl1 table-striped table-hover">
  
     <caption> مرحله دوم </caption>
     <tr>
 
        <th>روز</th>
        <th>ساعت برگزاری </th>
        <th>تیم های مسابقه دهنده</th>
     </tr>
     <tr>

  
        <td>چهارشنبه</td>
        <td>8:30</td>
        <td>مرحله اول آسیایی</td>
     </tr>
     <tr>

        <td>چهارشنبه</td>
        <td>10:30</td>
        <td>مرحله دوم آسیایی</td>
     </tr>
</table>