<table class="tbl1 table-striped table-hover">
  
     <caption> مرحله  نهایی</caption>
     <tr>
  
        <th>روز</th>
        <th>ساعت برگزاری </th>
        <th>تیم های مسابقه دهنده</th>
     </tr>
     <tr>

        <td>جمعه</td>
        <td>9:00</td>
        <td>مرحله یک چهارم با کوارترانفرادی</td>
     </tr>
     <tr>
        
        <td>جمعه</td>
        <td>10:00</td>
        <td> مرحله یک چهارم کوارتر دوبل</td>
     </tr>
        <tr>
        <td>جمعه</td>
        <td>11:00</td>
        <td>فینال دوبل</td>
     </tr>
     <tr>

        <td>جمعه</td>
        <td>12:00</td>
        <td>فینال انفرادی</td>
     </tr>
</table>