<table class="tbl1 table-striped table-hover">
  
     <caption> مرحله نیمه نهایی </caption>
     <tr>

        <th>روز</th>
        <th>ساعت برگزاری </th>
        <th>تیم های مسابقه دهنده</th>
     </tr>
     <tr>

    
        <td>پنج شنبه</td>
        <td>9:00</td>
        <td>فینال و رده بندی/ پنجم،ششم،هفتم و هشتم</td>
     </tr>
     <tr>
 
        <td>پنج شنبه</td>
        <td>11:00</td>
        <td>بازی های انفرادی دوبل تا ساعت 20</td>
     </tr>
</table>