<table class="tbl1 table-striped table-hover">
    <caption>دوره مقدماتی </caption>
    <tr>
        <th colspan="2" >بازی </th>
        <th>مسابقه بین دانشگاه</th>
        <th>شماره میز </th>
        <th>ساعت برگزاری </th>
    </tr>
    <tr>
        <td>دوره اول</td>
        <td>1</td>
        <td>تهران - اراک</td>
        <td>1</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>دوره اول</td>
        <td>2</td>
        <td>تبریز - فردوسی مشهد</td>
        <td>2</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>دوره اول</td>
        <td>3 </td>
        <td>اصفهان - رازی کرمانشاه</td>
        <td>3</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>دوره اول</td>
        <td>4 </td>
        <td>الزهرا(س) - محقق اردبیلی</td>
        <td>4</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>دوره اول</td>
        <td>5</td>
        <td>شهید باهنر کرمان - پیام نور فارس</td>
        <td>5</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>دوره اول</td>
        <td>6</td>
        <td>خوارزمی - بیرجند</td>
        <td>6</td>
        <td>8:30</td>
    </tr>  
    <tr><td colspan="5" style="background:#ccc;height:5px;"></td></tr>
    <tr>
        <td>دوره دوم</td>
        <td>7</td>
        <td>شیراز - -سیستان و بلوچستان</td>
        <td>1</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>دوره دوم</td>
        <td>8</td>
        <td>ص امیر کبیر - گیلان</td>
        <td>2</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>دوره دوم</td>
        <td>9</td>
        <td>تهران - فردوسی مشهد</td>
        <td>3</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>دوره دوم</td>
        <td>10</td>
        <td>تبریز - اراک</td>
        <td>4</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>دوره دوم</td>
        <td>11</td>
        <td>اصفهان - اردبیل</td>
        <td>5</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>دوره دوم</td>
        <td>12</td>
        <td>الزهرا(س) - رازی کرمانشاه</td>
        <td>6</td>
        <td>10:30</td>
    </tr>
    <tr><td colspan="5" style="background:#ccc;height:5px;"></td></tr>
    <tr>
        <td>دوره سوم</td>
        <td>13</td>
        <td>شهید باهنر کرمان - بیرجند</td>
        <td>1</td>
        <td>11:30</td>
    </tr>
    <tr>
        <td>دوره سوم</td>
        <td>14</td>
        <td>خوارزمی - پیام نور فارس</td>
        <td>2</td>
        <td>11:30</td>

    </tr>
    <tr>
        <td>دوره سوم</td>

        <td>15</td>
        <td>شیراز - گیلان</td>
        <td>3</td>
        <td>11:30</td>

    </tr>
    <tr>
        <td>دوره سوم</td>

        <td>16</td>
        <td>ص امیر کبیر - سیستان و بلوچستان</td>
        <td>4</td>
        <td>11:30</td>
    </tr>
    <tr>
        <td>دوره سوم</td>

        <td>17</td>
        <td>تهران - تبریز</td>
        <td>5</td>
        <td>11:30</td>

    </tr>
    <tr>
        <td>دوره سوم</td>

        <td>18</td>
        <td>فردوسی مشهد - اراک</td>
        <td>6</td>
        <td>11:30</td>

    </tr>
    <tr><td colspan="5" style="background:#ccc;height:5px;"></td></tr>
    <tr>
        <td>دوره چهارم</td>
        <td>19</td>
        <td>اصفهان - الزهرا(س)</td>
        <td>1</td>
        <td>16:30</td>
    </tr>
    <tr>
        <td>دوره چهارم</td>

        <td>20</td>
        <td>محقق اردبیلی - رازی کرمانشاه</td>
        <td>2</td>
        <td>16:30</td>

    </tr>
    <tr>
        <td>دوره چهارم</td>

        <td>21</td>
        <td>شهید باهنر کرمان - خوارزمی</td>
        <td>3</td>
        <td>16:30</td>

    </tr>
    <tr>
        <td>دوره چهارم</td>

        <td>22</td>
        <td>بیرجند - پیام نور فارس</td>
        <td>4</td>
        <td>16:30</td>

    </tr>
    <tr>
        <td>دوره چهارم</td>

        <td>23</td>
        <td>شیراز - صنعتی امیر کبیر</td>
        <td>5</td>
        <td>16:30</td>

    </tr>
    <tr>
        <td>دوره چهارم</td>

        <td>24</td>
        <td>گیلان - سیستان و بلوچستان</td>
        <td>6</td>
        <td>16:30</td>

    </tr>
</tbody></table>