<table class="tbl1 table-striped table-hover">
    <caption> نتایج نهایی مسابقات فوتسال</caption>
    <tbody><tr><th>ردیف</th><th style="text-align:right;padding-right:30px;">دانشگاه</th><th class="align-center">مقام</th></tr>
        <tr><td>۱</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه شهید چمران اهواز</span></td><td class="align-center"><span class="respan1">مقام اول</span></td></tr>
        <tr><td>۲</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه ایلام</span></td><td class="align-center"><span class="respan1">مقام دوم</span></td></tr>
        <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه گیلان</span></td><td class="align-center"><span class="respan1">مقام سوم</span></td></tr>
        <tr><td>۴</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه صنعتی شاهرود</span></td><td class="align-center"><span class="respan1">مقام چهارم</span></td></tr>
        <tr><td>۵</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه تهران</span></td><td class="align-center"><span class="respan1">مقام پنجم</span></td></tr>
        <tr><td>۶</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه فردوسی مشهد</span></td><td class="align-center"><span class="respan1">مقام ششم</span></td></tr>

        
    </tbody>
</table>