<table class="tbl1 table-striped table-hover">
            <tr>
                <th>ردیف</th>
                <th>گروه A</th>
                <th>گروه B</th>
                <th>گروه C</th>
                <th>گروه D</th>
            </tr>
            <tr>
                <td>1</td>
                <td>دانشگاه شهید باهنر کرمان</td>
                <td>دانشگاه ارومیه</td>
                <td>دانشگاه کاشان</td>
                <td>دانشکده فنی و حرفه ای کرمان</td>
            </tr>
            <tr>
                <td>2</td>
                <td>دانشگاه گیلان</td>
                <td>دانشگاه بوعلی سینا همدان</td>
                <td>دانشگاه فناوری قوجان</td>
                <td>دانشگاه حکیم سبزواری</td>
            </tr>
            <tr>
                <td>3</td>
                <td>دانشگاه اراک</td>
                <td>دانشگاه شهید چمران اهواز</td>
                <td>دانشگاه تهران</td>
                <td>دانشگاه رازی کرمانشاه</td>
            </tr>
            <tr>
                <td>4</td>
                <td>دانشگاه فردوسی مشهد</td>
                <td>دانشگاه علم و صنعت ایران</td>
                <td>دانشگاه تبریز</td>
                <td>دانشگاه شیراز</td>
            </tr>
        </table>