<table class="tbl1 table-striped table-hover">
            <tr>
                <th>ردیف</th>
                <th>گروه A</th>
                <th>گروه B</th>
                <th>گروه C</th>
                <th>گروه D</th>
            </tr>
            <tr>
                <td>1</td>
                <td>دانشگاه شهرکرد</td>
                <td>دانشگاه یاسوج</td>
                <td>دانشگاه گیلان</td>
                <td>دانشگاه تبریز</td>
            </tr>
            <tr>
                <td>2</td>
                <td>دانشگاه تهران</td>
                <td>دانشگاه رازی کرمانشاه</td>
                <td>دانشگاه کردستان</td>
                <td>دانشگاه تربیت مدرس</td>
            </tr>
            <tr>
                <td>3</td>
                <td>دانشگاه فردوسی مشهد</td>
                <td>دانشگاه ارومیه</td>
                <td>دانشگاه شاهرود</td>
                <td>دانشگاه زابل</td>
            </tr>
            <tr>
                <td>4</td>
                <td>دانشگاه شیراز</td>
                <td>دانشگاه سمنان</td>
                <td>دانشگاه شهید باهنر کرمان</td>
                <td>دانشگاه اصفهان</td>
            </tr>
        </table>