<table class="tbl1 table-striped table-hover">
            <tr>
                <th>ردیف</th>
                <th>گروه A</th>
                <th>گروه B</th>
                <th>گروه C</th>
                <th>گروه D</th>
            </tr>
            <tr>
                <td>1</td>
                <td>دانشگاه شهید بهشتی</td>
                <td>دانشگاه ملایر</td>
                <td>دانشگاه خلیج فارس(بوشهر)</td>
                <td>دانشگاه اراک</td>
                
            </tr>
            <tr>
                <td>2</td>
                <td>دانشگاه زنجان</td>
                <td>دانشگاه فردوسی مشهد</td>
                <td>دانشگاه شهید باهنر کرمان</td>
                <td>دانشگاه سیستان و بلوچستان</td>
            </tr>
            <tr>
                <td>3</td>
                <td>دانشگاه شیراز</td>
                <td>دانشگاه صنعتی شریف</td>
                <td>دانشگاه شهرکرد</td>
                <td>دانشگاه صنعتی شاهرود</td>
            </tr>
            <tr>
                <td>4</td>
                <td>دانشگاه گلستان</td>
                <td>دانشگاه صنعتی سهند</td>
                <td>دانشگاه رازی</td>
                <td>دانشگاه گیلان</td>
            </tr>
            <tr>
                <td>5</td>
                <td>دانشگاه فناوری قوچان</td>
                <td>دانشگاه تهران</td>
                <td>دانشگاه امیرکبیر</td>
                <td>-</td>
            </tr>
        </table>