<table class="tbl1 table-striped table-hover">
            <tr>
                <th>ردیف</th>
                <th>گروه A</th>
                <th>گروه B</th>
                <th>گروه C</th>
                <th>گروه D</th>
            </tr>
            <tr>
                <td>1</td>
                <td>دانشگاه تهران</td>
                <td>دانشگاه پیام نور اصفهان</td>
                <td>دانشگاه فردوسی مشهد</td>
                <td>دانشگاه کاشان</td>
            </tr>
            <tr>
                <td>2</td>
                <td>دانشگاه باهنر کرمان</td>
                <td>دانشکده فنی و حرفه ای گیلان</td>
                <td>دانشگاه بوعلی سینا همدان</td>
                <td>دانشگاه آیت الله بروجردی همدان</td>
            </tr>
            <tr>
                <td>3</td>
                <td>دانشگاه صنعتی شیراز</td>
                <td>دانشگاه ولی عصر رفسنجان</td>
                <td>دانشگاه شهید مدنی</td>
                <td>دانشگاه گیلان</td>
            </tr>
            <tr>
                <td>4</td>
                <td>دانشگاه سمنان</td>
                <td>مرکز آموزش عالی اسفراین</td>
                <td>دانشگاه صنعتی امیرکبیر</td>
                <td>دانشگاه بیرجند</td>
            </tr>
            <tr>
                <td>5</td>
                <td>دانشگاه تبریز</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </table>