<table class="tbl1 table-striped table-hover">
            <tr>
                <th>ردیف</th>
                <th>گروه A</th>
                <th>گروه B</th>
                <th>گروه C</th>
                <th>گروه D</th>
            </tr>
            <tr>
                <td>1</td>
                <td>دانشگاه پیام نور زنجان</td>
                <td>دانشگاه تهران</td>
                <td>دانشگاه صنعتی سهند تبریز</td>
                <td>دانشگاه فردوسی مشهد</td>
            </tr>
            <tr>
                <td>2</td>
                <td>دانشگاه یزد</td>
                <td>دانشگاه اصفهان</td>
                <td>دانشگاه شهید بهشتی</td>
                <td>دانشگاه باهنر کرمان</td>
            </tr>
            <tr>
                <td>3</td>
                <td>دانشگاه سمنان</td>
                <td>دانشگاه ملایر</td>
                <td>دانشگاه گیلان</td>
                <td>دانشگاه رازی کرمانشاه</td>
            </tr>
            <tr>
                <td>4</td>
                <td>دانشگاه شیراز</td>
                <td>-</td>
                <td>دانشگاه جهرم</td>
                <td>دانشکده فنی و حرفه ای مازندران</td>
            </tr>
            
        </table>