<table class="tbl1 table-striped table-hover">
    <tr>
        <th>ردیف </th>
        <th>گروه الف</th>
        <th>گروه ب</th>
        <th>گروه ج</th>
        <th>گروه د</th>
     </tr>
     <tr>
	<td><b>1</b></td>
        <td>تهران</td>
        <td>اصفهان</td>
        <td>شهید باهنر کرمان</td>
        <td>شیراز</td>
     </tr>
     <tr>
     	<td><b>2</b></td>
        <td>تبریز</td>
        <td>الزهرا(س)</td>
        <td>خوارزمی</td>
        <td>ص امیر کبیر</td>
     </tr>
     <tr>
     	<td><b>3 </b></td>
        <td>فردوسی مشهد</td>
        <td>اردبیل</td>
        <td>بیرجند</td>
        <td>گیلان</td>
     </tr>
     <tr>
     	<td><b>4 </b></td>
        <td>اراک</td>
        <td>رازی کرمانشاه</td>
        <td>پیام نور فارس</td>
        <td>سیستان و بلوچستان</td>
     </tr>
</table>