<table class="tbl1 table-striped table-hover">
            <tr>
                <th>ردیف</th>
                <th>گروه  الف</th>
                <th>گروه ب</th>
                <th>گروه ج</th>
                <th>گروه د</th>
            </tr>
            <tr>
                <td>1</td>
                <td>دانشگاه شهید باهنر</td>
                <td>دانشگاه فردوسی مشهد</td>
                <td>دانشگاه تهران</td>
                <td>دانشگاه خوارزمی</td>
            </tr>
            <tr>
                <td>2</td>
                <td>دانشگاه شیراز</td>
                <td>دانشگاه شهید بهشتی</td>
                <td>دانشگاه اصفهان</td>
                <td>دانشگاه بوعلی سینا همدان</td>
            </tr>
            <tr>
                <td>3</td>
                <td>دانشگاه شاهرود</td>
                <td>دانشگاه زنجان</td>
                <td>دانشگاه صنعتی اصفهان</td>
                <td>دانشگاه تبریز</td>
            </tr>
            <tr>
                <td>4</td>
                <td>دانشگاه الزهرا(س)</td>
                <td>-</td>
                <td>دانشگاه گیلان</td>
                <td>دانشگاه حكیم سبزواری</td>
            </tr>
        </table>