<table class="tbl1 table-striped table-hover">
<tr direction="rtl">
<th>ردیف</th>
<th>گروه  الف</th>
<th>گروه ب</th>
<th>گروه ج</th>
<th>گروه د</th>
</tr>
<tr>
<td>1</td>
<td>تهران</td>
<td>بیرجند</td>
<td>شهید بهشتی</td>
<td>شیراز</td>
</tr>
<tr>
<td>2</td>
<td>صنعتی اصفهان</td>
<td>تبریز</td>
<td>صنعتی شاهرود</td>
<td>اصفهان</td>
</tr>
<tr>
<td>3</td>
<td>كردستان</td>
<td>فردوسی مشهد</td>
<td>شهید باهنر كرمان</td>
<td>الزهرا(س)</td>
</tr>
<tr>
<td>4</td>
<td>ارومیه</td>
<td>بوعلی سینا</td>
<td>شهید چمران اهواز</td>
<td>اردبیل</td>
</tr>
</table>