<table class="tbl1 table-striped table-hover">
     <tr>
        <th>ردیف </th>
        <th>گروه الف</th>
        <th>گروه ب</th>
        <th>گروه ج</th>
        <th>گروه د</th>
     </tr>
     <tr>
        <td >1 </td>
        <td >پیام نور تهران</td>
        <td >تهران</td>
        <td >زنجان</td>
        <td >فنی و حرفه ای تهران</td>
     </tr>
     <tr>
        <td >2 </td>
        <td >فردوسی مشهد</td>
        <td >قم</td>
        <td >خوارزمی</td>
        <td >شیراز</td>
     </tr>
     <tr>
        <td >3 </td>
        <td >تبریز</td>
        <td >صنعتی اصفهان</td>
        <td >هرمزگان</td>
        <td >مازندران</td>
     </tr>
     <tr>
        <td >4 </td>
        <td >بوعلی سینا</td>
        <td >صنعتی بابل</td>
        <td >خلیج فارس بوشهر</td>
        <td >ص شاهرود</td>
     </tr>
     </table>