<table class="tbl1 table-striped table-hover">
            <tr>
                <th>ردیف</th>
                <th>گروه  الف</th>
                <th>گروه ب</th>
                <th>گروه ج</th>
                <th>گروه د</th>
            </tr>
            <tr>
                <td>1</td>
                <td>دانشگاه فردوسی مشهد</td>
                <td>دانشگاه تهران</td>
                <td>دانشگاه زنجان</td>
                <td>دانشگاه ایلام</td>
            </tr>
            <tr>
                <td>2</td>
                <td>دانشگاه بیرجند</td>
                <td>دانشگاه باهنر کرمان</td>
                <td>دانشگاه گیلان</td>
                <td>دانشگاه چمران اهواز</td>
            </tr>
            <tr>
                <td>3</td>
                <td>دانشگاه همدان</td>
                <td>دانشگاه شاهرود</td>
                <td>دانشگاه صنعتی اصفهان</td>
                <td>دانشگاه شیراز</td>
            </tr>
            <tr>
                <td>4</td>
                <td>دانشگاه شهرکرد</td>
                <td>دانشگاه ارومیه</td>
                <td>دانشگاه صنعتی بابل</td>
                <td>دانشگاه خوارزمی</td>
            </tr>
        </table>