<table class="tbl1 table-striped table-hover">

    <caption>نتایج نهایی مسابقات دو و میدانی-تیمی</caption>

            <tbody><tr><th>ردیف</th><th style="text-align:right;padding-right:30px;">دانشگاه</th><th>جمع امتیاز</th><th >مقام</th></tr>
                <tr><td>۱</td><td style="text-align:right;padding-right:30px;"><span class="respan-0"> دانشکده فنی و حرفه ای الزهرای مشهد</span></td><td>۳۵.۲۵</td><td ><span class="respan1">مقام اول</span></td></tr>
                <tr><td>۲</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه اصفهان</span></td><td>۳۵</td><td ><span class="respan1">مقام دوم</span></td></tr>
                <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه تهران</span></td><td>۳۴.۷۵</td><td ><span class="respan1">مقام سوم</span></td></tr>
                <tr><td>۴</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه فردوسی مشهد</span></td><td>۲۹</td><td ><span class="respan1">مقام چهارم</span></td></tr>
                <tr><td>۵</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه سناباد گلبهار</span></td><td>۲۰.۵</td><td ><span class="respan1">مقام پنجم</span></td></tr>
                <tr><td>۶</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه بیرجند</span></td><td>۱۸.۵</td><td ><span class="respan1">مقام ششم</span></td></tr>
            </tbody>
        </table>
