<table class="tbl1 table-striped table-hover">
    <caption>
        نتایج نهایی مسابقات بدمینتون - اجتماعی
    </caption>
    <tbody>
        <tr><th>ردیف</th><th style="text-align:right;padding-right:30px;">دانشگاه</th><th class="align-center">مقام</th></tr>
        <tr><td>۱</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه پیام نور تهران</span></td><td class="align-center"><span class="respan1">مقام اول</span></td></tr>
        <tr><td>۲</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه تهران</span></td><td class="align-center"><span class="respan1">مقام دوم</span></td></tr>
        <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه فنی و حرفه ای تهران</span></td><td class="align-center"><span class="respan1">مقام سوم</span></td></tr>						
        <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه مازندران</span></td><td class="align-center"><span class="respan1">مقام سوم</span></td></tr>
        
    </tbody>

</table>
<br><br><br>
<div style="margin-top:40px">
    <table class="tbl1 table-striped table-hover">
    <caption>
        نتایج نهایی مسابقات بدمینتون - دوبل
    </caption>
    <tbody>
        <tr><th>ردیف</th><th style="text-align:right;padding-right:30px;">دانشگاه</th><th class="align-center">مقام</th></tr>
        <tr><td>۱</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه شیراز</span></td><td class="align-center"><span class="respan1">مقام اول</span></td></tr>
        <tr><td>۲</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه تهران</span></td><td class="align-center"><span class="respan1">مقام دوم</span></td></tr>
        <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه پیام نور تهران</span></td><td class="align-center"><span class="respan1">مقام سوم</span></td></tr>						
        <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه اصفهان</span></td><td class="align-center"><span class="respan1">مقام سوم</span></td></tr>
        
    </tbody>

</table>
    
</div>