 

#bracket 
{
	background-color: #f7f7f7;
	font-family: Tahoma;
	font-size: 8pt;
	text-align: right;
	direction: rtl;
	cursor: default;
	float: right;
}

   
   
 


.bracket-container {
 
font-family: "Yekan", "YekanNumbers";
width: 100%;
direction: rtl;
padding: 5px;
margin-top: 26px;
text-align: center;
}

.bracket-container, .bracket-container * {
	box-sizing: border-box;
}

.bracket-container .column {
width: 240px;
display: inline-block;
vertical-align: top;
position: relative;
float: right;
margin: 5px;
}

.bracket-container.cols-4 .column {
	width: 240px;
	float: right;
}

.bracket-container .matches-wrapper {
border: 1px solid #EAEAEA;
border-top: none;
border-radius: 0 0 6px 6px;
padding: 5px 7px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fbfbfb+0,f4f4f2+100 */
background: #eee; /* Old browsers */
height: 1270px;
}

.bracket-container .column.col-0 .matches-wrapper 
{
	padding-top: 630px;
}

.bracket-container .column.col-1 .matches-wrapper 
{
	padding-top: 388px;
}

.bracket-container .column.col-2 .matches-wrapper
{
	padding-top: 175px;
}

.bracket-container .column.col-3 .matches-wrapper 
{
	padding-top: 55px;
}

.bracket-container .column.col-4 .matches-wrapper
{
}



 
.bracket-container .column.col-1 .match-container {
margin-bottom: 606px;
}

.bracket-container .column.col-2 .match-container {
margin-bottom: 370px;
}

.bracket-container .column.col-3 .match-container
{
	margin-bottom: 139px;
}

.bracket-container .column.col-4 .match-container {
margin-bottom: 20px;
}



.bracket-container .column.col-5 { /*temp*/
display: none;
}

.bracket-container .col-title {
text-align: center;
color: #676767;
font-size: 16px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+100,ffffff+100 */
text-shadow: 0 0 8px #CCCCCC;
border: 1px solid #CBD0C9;
border-bottom: none;
border-radius: 4px 4px 0 0;
margin-bottom: 2px;
padding-bottom: 2px;
background: #f9f9f9; /* Old browsers */
background: -moz-linear-gradient(top, #f9f9f9 100%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f9f9f9 100%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f9f9f9 100%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.bracket-container .match-container 
{
	margin: 10px 0;
	border-radius: 2px;
	padding: 8px;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0px #BDBDBD;
	background: #ffffff;
 }

 

.bracket-container .column.col-0 .match-container {
}

.bracket-container .column.col-1 .match-container {
}

.bracket-container .column.col-2 .match-container {
}

.bracket-container .column.col-3 .match-container {
}

.bracket-container .column.col-4 .match-container {
}

.bracket-container .column.col-5 .match-container {
}

.bracket-container .leg-container {
position: relative;
}

.bracket-container .match-info {
width: 13px;
height: 13px;
display: inline-block;
position: absolute;
right: 2px;
top: 27px;
}

.bracket-container .match-info img {
width: 100%;
}

.bracket-container .column .match-container .team {
width: 100%;
height: 30px;
/* overflow: hidden; */
transition: all ease 600ms;
position: relative; 
}

.bracket-container .column .match-container .info .datetime {
	color: #9C9C9C;
	height: 24px;
	border-top: 1px solid #F8F8F8;
	border-bottom: 1px solid #F8F8F8;
	padding-right: 20px;
	width: 100%;
	background-color: #eee;
	text-align: right;

}

.bracket-container .column .match-container .info .dt {
	text-align: center;
	color: #9C9C9C;
	height: 4px;
	border-top: 1px solid #F8F8F8;
	border-bottom: 1px solid #F8F8F8;
	padding-right: 20px;
	width: 100%;
	
	border: 1px solid #eee;
	 
}

.bracket-container .column .match-container .info .match-info {
	text-align: center;
	color: #9C9C9C;
	height: 24px;
	border-top: 1px solid #F8F8F8;
	border-bottom: 1px solid #F8F8F8;
	padding-right: 20px;
	width: 80%;
}

.bracket-container .column .match-container .team.host {
}

.bracket-container .column .match-container .team.guest {
}

.bracket-container .column .match-container .team .name 
{
	display: inline-block;
	width: 84%;
	padding: 1px;
	line-height: 30px;
	text-align: center;
	float: right;
	color: #7D7D7D;
	font-size: 14px;

}

.bracket-container .column .match-container .team .logo 
{
	width: 12%;
	height: 40px;
	overflow: hidden;
	left: 3px;
	top: 2px;
	z-index: 4;
	float: left;
	margin: 2px;
}

.bracket-container .column .match-container .team .logo img {
	padding-top: 2px;
	width: 100%;
}

 

.bracket-container .column .match-container .team .name.long {
letter-spacing: -0.7px;
}

.bracket-container .column .match-container .team .name.len-11,
.bracket-container .column .match-container .team .name.len-12,
.bracket-container .column .match-container .team .name.len-13,
.bracket-container .column .match-container .team .name.len-14,
.bracket-container .column .match-container .team .name.len-15,
.bracket-container .column .match-container .team .name.len-16,
.bracket-container .column .match-container .team .name.len-17,
.bracket-container .column .match-container .team .name.len-18,
.bracket-container .column .match-container .team .name.len-19,
.bracket-container .column .match-container .team .name.len-20 {
font-size: 8px;
letter-spacing: 0;
}

.bracket-container.cols-4 .column .match-container .team .name.len-11,
.bracket-container.cols-4 .column .match-container .team .name.len-12,
.bracket-container.cols-4 .column .match-container .team .name.len-13,
.bracket-container.cols-4 .column .match-container .team .name.len-14,
.bracket-container.cols-4 .column .match-container .team .name.len-15,
.bracket-container.cols-4 .column .match-container .team .name.len-16,
.bracket-container.cols-4 .column .match-container .team .name.len-17,
.bracket-container.cols-4 .column .match-container .team .name.len-18,
.bracket-container.cols-4 .column .match-container .team .name.len-19,
.bracket-container.cols-4 .column .match-container .team .name.len-20 {
font-size: 11px;
}



.bracket-container .column .match-container .team.winner .name {
	color: #2E353C;
}

.bracket-container .column .match-container .team[data-title]:hover,
.bracket-container .column .match-container .team.highlight {
background-color: #CCE7FB;
transition: all ease 500ms;
}

.bracket-container .column .match-container .team .score-container {
	width: 10%;
	float: right;
	padding-right: 2px;
}

.bracket-container .column .match-container .team .score-container .main,
.bracket-container .column .match-container .team .score-container .penalty {
display: inline-block;
width: 15px;
text-align: center;
line-height: 17px;
font-size: 14px;
height: 100%;
color: #2E353C;
}

.bracket-container .column .match-container .team .score-container .main {
border-left: #f8f8f8 1px solid;
transition: all ease 500ms;
}

.bracket-container .column .match-container .team .score-container .main:empty {
display: none;
}

.bracket-container .column .match-container .team.highlight .score-container .main,
.bracket-container .column .match-container .team:hover .score-container .main {
border-left: 1px solid #CCE7FB;
transition: all ease 500ms;
}

.bracket-container .column .match-container .team .score-container .penalty {
color: #1269F9;
}

.bracket-container .column .match-container .team .score-container .penalty:empty {
display: none;
}

.bracket-container .leg-container.second {
margin-top: 30px;
}

.bracket-head {
text-align: center;
position: relative;
width: 718px;
top: 0;
background: #fff;
z-index: 1000;
padding-bottom: 10px;
}

.bracket-head.floating {
position: fixed;
border-bottom: 1px solid #E4E4E4;
}

h1.bracket-head.floating {
}

#leg-switcher {
width: 90%;
height: 27px;
border: 1px solid #CACACA;
background-color: #fff;
margin: 2px auto;
border-radius: 2px;
overflow: hidden;
cursor: pointer;
font-family: "Yekan", Tahoma;
position: absolute;
top;
0;
display: inline-block;
top: 50px;
right: 4.5%;
}

#leg-switcher span {
position: absolute;
width: 50%;
height: 100%;
line-height: 24px;
font-size: 11px;
display: inline-block;
text-align: center;
color: #ADADAD;
background-color: #F7F7F7;
padding-bottom: 3px;
/* transition: all ease 500ms; */
box-sizing: border-box;
font-weight: normal;
}

#leg-switcher span.first {
right: 0;
}

#leg-switcher span.second {
left: 0;
}

#leg-switcher[data-current="1"] span.first,
#leg-switcher[data-current="2"] span.second {
background-color: #207286;
color: #FFFFFF;
/* transition: all ease 500ms; */
}

.content-container {
width: 744px;
display: inline-block;
vertical-align: top;
}
