/* ---- Rezvan Admin ie fixes ---- */
 
body {
  font-size: 13px;
  direction: rtl;
  font-family: 'Yekan',Tahoma;
}

@media print{
  body {
    font-size: 13px;
  }
  
  .main_content{
    margin-right: 0;
  }

  .no-print{
    display: none !important;
  }
}

@media(min-width: 1200px) {
  .row-fluid [class*="span"]:first-child {
  margin-right: 0;
  }

  .row-fluid [class*="span"] {
  float: right;
  margin-right: 2.564102564102564%;
  *margin-right: 2.5109110747408616%;
  margin-left: 0;
  }
}

@media(min-width: 768px) and (max-width: 979px) {
  .row-fluid [class*="span"]:first-child {
  margin-right: 0;
  }

  .row-fluid [class*="span"] {
  float: right;
  margin-right: 2.7624309392265194%;
  *margin-right: 2.709239449864817%;
  margin-left: 0;
  }
}

@media(min-width: 768px) and (max-width: 992px) {
  .search-header > .navbar-header{
  float: right;
  }
}

img {
  max-width: none;
}

a:hover , a:focus {
  text-decoration: none;
}

a.user-title-label{
  font-family: 'Yekan';
}

.page-breadcrumb a , .page-breadcrumb li{
  font-family: 'Yekan',Tahoma;
}

h1,
h3,
h4 {
  font-family: 'Yekan','tahoma';
}

.width-70{
  width: 70%;
}

.navbar .brand.company {
  font: 100 18px/36px 'Yekan',Tahoma,'PT Sans',sans-serif;
  float: right;
  margin-right: -10px !important;
  padding: 3px 5px !important;
}

.icon-fum-big-font {
  font-size: 200%;
  position: relative;
  transform: translateY(25%);
}

/**
 * Header:
 */
.page-header-fixed .page-container {
  margin-top: 60px;
}

.page-header.navbar {
  height: 60px;
}

.page-header.navbar .page-logo .logo-default {
  margin: 0;
  width: 180px;
}

.page-header.navbar .page-logo {
  height: 60px;
}

.page-sidebar-fixed .page-sidebar {
  top: 60px;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
  margin: 19px 0 0;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user .dropdown-toggle ,
.page-header.navbar .top-menu .navbar-nav > li.dropdown-return-user .dropdown-toggle ,
.page-header.navbar .hor-menu .navbar-nav > li.classic-menu-dropdown a {
  padding: 20px 8px 19px 6px;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown ,
.page-header.navbar .hor-menu .navbar-nav > li.classic-menu-dropdown {
  height: 60px;
}

.page-header.navbar .page-logo {
  padding-left: 5px;
}

.page-header.navbar .page-logo a{
  color: #FFF;
}

.page-header.navbar .top-menu img.img-circle{
  max-width: 30px;
}

.page-toolbar .btn-group > .btn:first-child {
  border-radius: 4px !important;
}

.dropdown-menu ,
.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a {
  font-family: 'Yekan';
}

.page-header.navbar .current-event {
  display: inline-block;
  float: right;
  position: relative;
  min-width: 300px;
  height: 60px;
  padding: 0 20px 0;
  line-height: 60px;
}

.current-event i{
  font-size: 20px;
}

.current-event .event-title {
  color: #FFF;
  font-size: 15px;
}

.dropdown-guide a{
  padding: 20px 12px 19px 10px!important;
}

.page-sidebar .page-sidebar-menu li > a > .i-info,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .i-info {
  float: left;
  margin-left: 0;
  margin-top: 1px;
}

/*
 * Page Content
 */
.page-title,
.tooltips{
  font-family: 'Yekan';
}

.center{
  text-align: center;
}

[data-hint]:after {
  font-family: 'Yekan';
}

.nazanin-font{
  font: 100 18px/36px 'B Nazanin';
}

.yekan-font{
  font-family: 'Yekan';
  font-weight: normal;
  font-size: 13px;
}

.small-font{
  font-size: 11px !important;
}

.static-info .name {
  text-align: left;
}

.static-info .currency {
  font-family: 'XSANS';
}

[class*="span"] {
  float: right;
}

.page-toolbar a{
  margin-right: 5px;
}

@media(min-width: 601px) {
  .portlet > .portlet-title > .actions.datatble {
    margin-left: 250px;
  }
}

/**
 * Forms
*/
input, button, select, textarea {
  font-family: 'Yekan', Tahoma,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

input.numeric {
  font-family: Tahoma;
}

.form-control {
  padding: 0 12px;
  height: 33px;
}

.required .control-label::after {
  color: #ed6b75;
  content: " *";
  font-family: Tahoma;
}

.input-mask-date {
  direction: ltr;
}

.input-append .add-on:last-child, .input-append .btn:last-child {
  border-radius: 3px 0 0 3px;
}

.input-append .add-on, .input-append .btn, .input-append .btn-group {
  margin-right: -1px;
}

.input-append input, .input-append select, .input-append .uneditable-input {
  border-radius: 0 3px 3px 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn-group:not(:last-child) > .btn, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.input-group-addon:first-child {
  border-right: 1px solid #ccc;
}

.nav-search .nav-search-input {
  font-size: 12px;
}

label span.required, p span.required {
  color: red;
}

label, input, button, select, textarea, select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .btn {
  font-size: 13px;
}

.help-inline {
  font-family: 'Yekan';
}

.btn.btn-app {
  font-family: 'Yekan';
  font-size: 13px;
}

.label {
  font-size: 13px;
  padding: 0px 6px;
  margin: 1px;
}

.input-supermini {
  width: 25px;
}

.modal {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px 6px 6px 6px;
  overflow: auto;
}

.modal-footer .btn + .btn {
  margin-right: 5px;
  margin-left: 0;
}

.modal-header {
  text-align: right;
}

.close {
  float: left;
}

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.5;
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
  font-family: 'Yekan';
  font-size: 13px;
  font-weight: bold;
}

.btn-group.multiselect > .btn,
.btn-group.multiselect > .dropdown-menu{
  font-family: tahoma;
  font-size: 12px;
  font-weight: normal;
}

.btn-group > .btn:first-child {
  margin-right: 0;
  -webkit-border-bottom-right-radius: 4px;
      border-bottom-right-radius: 4px;
  -webkit-border-top-right-radius: 4px;
      border-top-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-topright: 4px;

  -webkit-border-bottom-left-radius: 0;
      border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
      border-top-left-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0; 
}

.btn-group > .btn:last-child,
.btn-group > .dropdown-toggle {
  -webkit-border-top-left-radius: 4px;
      border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
      border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-bottomleft: 4px;

  -webkit-border-top-right-radius: 0;
      border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
      border-bottom-right-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;  
}

.btn-group > .btn + .btn {
  margin-right: -1px;
}

.sweet-alert h2 {
  font-family: 'Yekan';
  font-size: 26px;
}

.sweet-alert button {
  font-family: 'Yekan';
  font-size: 17px;
}

.sweet-alert,
.sweet-alert p{
  font-family: 'Yekan';
}

.page-content .page-header:first-child h1,
.bootbox .page-header:first-child h1,
.bootbox .page-header h1 {
  font-family: 'Yekan';
  font-size: 20px;
}

.page-container-bg-solid .modal-content {
  background: #eef1f5 none repeat scroll 0 0;
}

.page-content .page-header:first-child h1 small,
.bootbox .page-header:first-child h1 small,
.bootbox .page-header > h1 > small {
  font-size: 12px;
}

.bootbox .page-header:first-child h1 {
  color: #2679B5;
  font-weight: lighter;
  margin: 0 8px;
  padding: 0;
}

.bootbox .page-header {
  border-bottom: 1px solid #EEEEEE;
  margin: 0;
  padding-bottom: 9px;
}

.help-inline.error {
  color: #D16E6C;
  font-size: 11px !important;
}

.datepicker table td, .datepicker table th, .datetimepicker table td, .datetimepicker table th {
  font-family: 'Yekan' !important;
  font-size: 13px;
}

.enable {
  background-image: url("../img/status_ok.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 16px;
}

.disable {
  background-image: url("../img/status_busy.png");
  background-repeat: no-repeat;
  display: inline-block;
  height: 16px;
  line-height: 16px;
  margin-top: 1px;
  vertical-align: text-top;
  width: 16px;
}

.margin-top-15{
  margin-top: 15px;
}

.dd .dd3-content span{
  cursor: pointer;
}

.dashboard .profile-usermenu {
  margin-top: 0;
}

.dashboard .portlet-title{
  padding-left: 50px !important;
  text-align: justify;
}

.user-dashborad-menu{
  float: right;
  padding: 0px !important;
}

.dashboard-link {
  float: right;
  height: 80px;
  list-style: outside none none;
  margin: 5px;
  position: relative;
  width: 220px;
}

.dashboard-link i{
  font-size: 45px;
  margin-top: 5px;
  float: left;
}

.dashboard-link.metro i{
  font-size: 35px;
  margin: 20px 10px;
  float: left;
}

.dashboard-link a {
  color: #fff;
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 55px;
  padding: 10px 20px 10px 0;
  width: 100%;
}

.dashboard-link span {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  line-height: 55px;
  padding: 10px 20px 10px 0;
  width: 100%;
}

.widget-progress .widget-progress-title a{
  color: #fff;
  margin-bottom: 5px;
}

.widget-progress .active {
  background-image: url('../img/active.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.profile-usermenu ul li .role {
  color: #93a3b5;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 15px;
  display: block;
  position: relative;
}

.login .content .forget-form,
.login .content .register-form {
 display: block; 
}

.login .logo {
  margin: 20px auto 0;
}

/*
 * Date Range Picker:
 */
 .daterangepicker {
  margin-top: 0 !important;
}

.daterangepicker input[type="text"]{
  font-family: 'Yekan';
  font-size: 13px;
}

.daterangepicker .ranges, .daterangepicker .calendar {
  float: right;
}

.daterangepicker .calendar-table {
  direction: ltr;
}

.daterangepicker .calendar th,
.daterangepicker .calendar td {
  font-size: 12px;
}

.label,
.table.table-light > thead > tr > th {
  font-family: 'Yekan';
}

button.dt-button, div.dt-button, a.dt-button {
  -moz-user-select: none;
  background-color: #e9e9e9;
  background-image: -moz-linear-gradient(center top , #fff 0%, #e9e9e9 100%);
  border: 1px solid #999;
  border-radius: 2px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-size: 0.88em;
  margin-right: 0.333em;
  outline: medium none;
  overflow: hidden;
  padding: 0.5em 1em;
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.table th, .table td {
  text-align: right;
}

.rtl .table-header {
  font-family: 'Yekan';
  font-size: 18px;
  padding-right: 12px;
  padding-left: 0;
}

.rtl .table-header a{
  color: #fff;
}

table.dataTable thead .sorting {
  background: rgba(0, 0, 0, 0) url("..//img/sort_both.png") no-repeat scroll left center;
}

.dataTables_wrapper {
  overflow: visible;
}

.dataTables_wrapper label,
.dataTables_wrapper div{
  font-size: 13px;
  line-height: 28px;
}

.dataTables_wrapper .table td,
.dataTables_wrapper .table th {
  font-size: 13px;
}

.dataTables_wrapper .dataTables_filter input {
  -moz-transition: all 0.4s ease 0s;
  color: #D9D9D9;
  float: left;
  margin-right: 5px;
  width: 128px;
}

.dataTables_wrapper .dataTables_filter input {
  background: url("../img/search-white.png") no-repeat scroll 10px 7px #F8F8F8;
  border: 1px solid #DCDCDC;
  outline: 0 none;
}

.dataTables_wrapper .dataTables_filter input[type="search"]:focus {
  background: url("../img/search-dark.png") no-repeat scroll 10px 7px #FCFCFC;
  color: #6A6F75;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  width: 170px;
}

.dataTables_wrapper table.table thead .sorting_asc {
  background: url("../img/sort_asc.png") no-repeat scroll left center #E9F3F8;
}

.dataTables_wrapper table.table thead .sorting_desc {
  background: url("../img/sort_desc.png") no-repeat scroll left center #E9F3F8;
}

.pagination ul > li > a, .pagination ul > li > span {
  float: right;
}

.pagination ul > li:first-child > a, .pagination ul > li:first-child > span {
  border-radius: 0 3px 3px 0;
  border-right-width: 1px;
  border-left-width: 0;
}

.pagination ul > li:last-child > a, .pagination ul > li:last-child > span {
  border-radius: 3px 0 0 3px;
  border-left-width: 1px;  
}

div.dataTables_paginate {
  float: left;
  margin: 0;
}

.dataTables_paginate ul.pagination{
  margin-top: 0;
}

div.dataTables_length {
  float: right;
  text-align: right;
}

div.dataTables_filter {
  float: left;
  text-align: right;
}


.dataTables_wrapper .top, .dataTables_wrapper .bottom {
  padding: 0;
  text-align: right;
}

.DTTT_print_info h6 {
  font-family: 'Yekan';
}

.DTTT_print_info{
  z-index: 100000;
}

table.dataTable tr.DTTT_selected.odd {
  background-color: #9FAFD1;
}

table.dataTable tr.DTTT_selected.even {
  background-color: #B0BED9;
}

.dataTables_wrapper table + .row {
  margin-bottom: 0;
  margin-top: 10px;
  margin-left: -12px;
}

.dataTables_info {
  padding-top: 0 !important;
  font-size: 12px;
}

.dataTables_processing {
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #DDDDDD;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  color: #000000;
  font-size: 15px !important;
  left: 50%;
  margin-left: -200px;
  margin-top: 0;
  padding: 10px 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 250px;
  z-index: 100;
}

@media only screen and (max-width: 980px) {
  .dataTable_operation{
  width: 10px !important;
  }
}

.w-40{
  width: 40px;
}

.w-50{
  width: 50px;
}

.w-60{
  width: 60px;
}

.w-70{
  width: 70px;
}

.w-80{
  width: 80px;
}

.w-100{
  width: 100px;
}

.w-110{
  width: 110px;
}

.w-120{
  width: 120px;
}

.w-130{
  width: 130px;
}

.w-140{
  width: 140px;
}

.w-150{
  width: 150px;
}

.w-200{
  width: 200px;
}

/*
 * x-editable
 */
 .editable-input {
  text-align: right;
}

.editable-buttons {
  margin-right: 7px;
}

.editable-buttons .editable-cancel {
  margin-right: 7px;
}

/*
 * ClockFace
 */
.clockface.dropdown-menu {
  text-align: center !important;
}

.clockface .outer, .clockface .inner {
  float: left;
}

/*
 * Select2
 */
.select2-container-multi .select2-search-choice-close {
  right: 3px;
  left: auto;
}

.select2-container--bootstrap .select2-selection--single .select2-selection__placeholder {
  font-family: 'Yekan';
}

.select2-container-multi .select2-choices .select2-search-field input,
.select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  font-family: 'Yekan';
  font-size: 12px;
}

.morris-hover.morris-default-style .morris-hover-point, .select2-container--bootstrap .select2-results__group, .select2-container--bootstrap .select2-selection {
  font-family: 'Yekan';
}

.rtl .select2-container-multi.tag-input-style .select2-choices .select2-search-choice {
  margin-right: none;
}

.rtl .select2-container .select2-search--inline,
.select2-container .select2-search--inline {
  float: right;
}

.select2-container--bootstrap .select2-selection__clear {
  float: left;
  margin-left: 10px;
}

/*
 * Others
 */
.select2-more-results.select2-active {
  padding-right: 20px;
}

.ui-datepicker{
  z-index: 20 !important;
}

/*
 * Introjs
 */
.introjs-button{
  font-family: 'Yekan' !important;
  font-size: 12px;
}

.introjs-tooltiptext{
  font-size: 13px;
  text-align: justify;
}

.introjs-tooltipbuttons {
  text-align: left;
}

.introjs-skipbutton {
  margin-left: 5px;
}

.introjs-tooltip {
  direction: rtl;
}

.introjs-prevbutton {
  border-left: none;
  -webkit-border-radius: 0 0.2em 0.2em 0;
  -moz-border-radius: 0 0.2em 0.2em 0;
  border-radius: 0 0.2em 0.2em 0;
}

.introjs-nextbutton {
  -webkit-border-radius: 0.2em 0 0 0.2em;
  -moz-border-radius: 0.2em 0 0 0.2em;
  border-radius: 0.2em 0 0 0.2em;
}

.introjs-helperNumberLayer {
  width: 30px !important;
  height: 30px !important;
  font-family: 'Yekan' !important;
}

/*
 * Ladda
 */
.ladda-button[data-style="expand-left"] .ladda-spinner {
  left: 0;
}

/**
 * Bootstrap MultiSelect:
 */
.multiselect > .btn:first-child {
  border-radius: 4px;
  margin-right: auto;
}

.multiselect .dropdown-menu {
  right: 0;
}

.multiselect input[type="checkbox"]{
  opacity: 1;
  width: auto;
}

/**
  * Added by zakieh
  */
.pricing-content-1 .price-table-pricing > h3 {
  font-size: 25px;
  position: relative;
}
.pricing-content-1 .price-table-head h2 {
  font-size: 15px;
}

/**
 *  Caravan Register
 */
.caravan-register {
  margin-bottom: 25px;
}

.caravan-register .form .form-actions {
  background-color: #FFF;
}

.caravan-register .form .form-body {
  padding-left: 0;
  padding-right: 0;
}

.pricing-content-1 {
  background-color: transparent;
}

.pricing-content-1 .price-column-container.border-active {
  margin-bottom: 10px;
}

.form-title {
  border-bottom: 1px solid #eee;
  border-radius: 4px 4px 0 0;
  margin-bottom: 10px;
  min-height: 41px;
  padding: 0;
}

.form-title > .caption {
  color: #666;
  padding: 10px 0;
}

.form-title > .caption.caption-md > .caption-subject {
  font-size: 15px;
}

/**
 * SEMS Fonts:
 */
[class^="icon-fum-"], [class*=" icon-fum-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'semsfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fum-basketball:before {
  content: "\e925";
}
.icon-fum-coach .path1:before {
  content: "\e926";
  color: rgb(0, 0, 0);
}
.icon-fum-coach .path2:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-fum-coach .path3:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-fum-coach .path4:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-fum-coach .path5:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-fum-coach .path6:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-fum-coach .path7:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-fum-teams:before {
  content: "\e936";
}
.icon-fum-matches:before {
  content: "\e939";
}
.icon-fum-finance-managment:before {
  content: "\e93a";
}
.icon-fum-scan-management:before {
  content: "\e93b";
}
.icon-fum-match:before {
  content: "\e900";
}
.icon-fum-orgchart:before {
  content: "\e901";
}
.icon-fum-protest:before {
  content: "\e902";
}
.icon-fum-record:before {
  content: "\e903";
}
.icon-fum-referee:before {
  content: "\e904";
}
.icon-fum-result:before {
  content: "\e905";
}
.icon-fum-role-management:before {
  content: "\e906";
}
.icon-fum-rules:before {
  content: "\e907";
}
.icon-fum-settings:before {
  content: "\e908";
}
.icon-fum-stadiums:before {
  content: "\e909";
}
.icon-fum-swimming:before {
  content: "\e90a";
}
.icon-fum-technical-committee:before {
  content: "\e90b";
}
.icon-fum-track:before {
  content: "\e90c";
}
.icon-fum-track-win:before {
  content: "\e90d";
}
.icon-fum-transport:before {
  content: "\e90e";
}
.icon-fum-trash:before {
  content: "\e90f";
}
.icon-fum-universities:before {
  content: "\e910";
}
.icon-fum-university-agent:before {
  content: "\e911";
}
.icon-fum-user-management:before {
  content: "\e912";
}
.icon-fum-weigh:before {
  content: "\e913";
}
.icon-fum-weightlifting:before {
  content: "\e914";
}
.icon-fum-shooting:before {
  content: "\e915";
}
.icon-fum-wrestling:before {
  content: "\e916";
}
.icon-fum-zhu:before {
  content: "\e917";
}
.icon-fum-food:before {
  content: "\e918";
}
.icon-fum-football:before {
  content: "\e919";
}
.icon-fum-gym:before {
  content: "\e91a";
}
.icon-fum-handball:before {
  content: "\e91b";
}
.icon-fum-jujitsu:before {
  content: "\e91c";
}
.icon-fum-karate:before {
  content: "\e91d";
}
.icon-fum-taekwondo:before {
  content: "\e91e";
}
.icon-fum-volleyball:before {
  content: "\e91f";
}
.icon-fum-ping-pong:before {
  content: "\e920";
}
.icon-fum-swordsmanship:before {
  content: "\e921";
}
.icon-fum-archery:before {
  content: "\e922";
}
.icon-fum-athlete:before {
  content: "\e923";
}
.icon-fum-badminton:before {
  content: "\e924";
}
.icon-fum-biking:before {
  content: "\e931";
}
.icon-fum-calendar:before {
  content: "\e932";
}
.icon-fum-card:before {
  content: "\e933";
}
.icon-fum-carevan:before {
  content: "\e934";
}
.icon-fum-cavaran-admin:before {
  content: "\e935";
}
.icon-fum-draw:before {
  content: "\e93d";
}
.icon-fum-fields:before {
  content: "\e93e";
}

/*** Added by Daliri.ha ***/
.profile-usertitle-name {
  font-size:16px;
}
.profile-userpic {
  margin-top:20px;
  margin-right:70px;
}
.profile-userbuttons {
  padding-bottom: 20px;
  padding-top: 10px;
}
.profile-userpic img {
  height: 150px;
  width: 150px;
  border:4px #fff solid;
}
[class*=" fa-"]:not(.fa-stack), [class*=" glyphicon-"], 
[class*=" icon-"], [class^="fa-"]:not(.fa-stack), 
[class^="glyphicon-"], [class^="icon-"] {
  margin-left: 3px;
}
.mt-element-step .step-line .activestp .mt-step-number {
  border-color: #659be0 !important;
  color: #659be0 !important;
}
.mt-element-step .step-line .activestp .mt-step-title::after, 
.mt-element-step .step-line .activestp .mt-step-title::before {
  background-color: #659be0;
}
.mt-element-step .step-line .activestp .mt-step-content, 
.mt-element-step .step-line .activestp .mt-step-title {
  color: #659be0 !important;
}
.crv-steps .mt-step-number {
  width:50px;
}
.team-forms .smtext {
  font-size: 14px;
}
.crv-steps .mt-step-title {
  font-size: 15px !important; 
}
.team-forms .price-table-content {
  height:140px;
}