#bracket-panel{
   
}

#tiles-panel{
  height: 400px;
  text-align: center;
}

#tiles-panel .portlet {
  height: 95%;


}

#setting-panel
{
  height: 400px;

}

#setting-panel .portlet {
  height: 95%;

}

#bracket-panel .portlet {
  height: 95%;

}

.bracket-area{
  background-color: #bbb;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: auto;


}

 .page-content{
  height: auto;
  overflow: auto;
}
.big-title{
  font-size: 50px;
  text-align: center;
  height: 100%;
  width: 100%;
   
  padding-top: 20%;
}
.progress{
  height: 70px;  
  width: 200px;
}

#teaminf{
  width: 97%;
  display: block;
}
#teamctrl{
  float: right;
  width: 100%;
  display: block;
}
#teammembers,#allmember,#members_,#allmember_{
  width: 98%;
  float: right;
  overflow: auto;
  margin:10px;
  text-align: center;
  min-height: 500px;

}
#members{
  width: 100%;
  float: right;
  overflow: none;
  margin:10px;
  text-align: right;

}




.user-list >li{
   box-shadow:inset 1px 1px 40px 0 rgba(0,0,0,.45);
          border-bottom:2px solid #fff;
          border-right:2px solid #fff;
          margin:5% auto 0 auto; 
          
  background-size:cover;
border-radius:5px;
overflow:hidden;
}
.user-list  > li #overlay {
  background:rgba(0,0,0,.75);
  text-align:center;
  padding:45px 0 66px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;}


.users-list > li:hover #overlay {
 opacity:1;
}

.image-wrapper {
  width: 100%;
  height: 100%;
 
  overflow: hidden;
  position: relative;
  text-align: center;
  
}

.image-overlay-content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  border-radius: 50%;

  
   }
.image-overlay-content a{
   
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  margin-top: 0px;
  margin-bottom: 20px;
height: 100%;
line-height: 85px;
  font-size: 90px;
  color: #fff;
  
   }

 
.overlay-fade-in img {
  transition: all 0.2s linear; }
.overlay-fade-in .image-overlay-content {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.4s ease-in-out;

}


 
 
.overlay-fade-in:hover .image-overlay-content {
  opacity: 1;
   }
.overlay-fade-in:hover h2, .overlay-fade-in p, .overlay-fade-in .button {
  opacity: 1;
  
   }
 
  
 #main{
  min-height: 500px;
  direction: ltr;
 
  background-color: #eee;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  color: #000;
  height: 100%;
 
 }

 .modal.modal-wide .modal-dialog {
  width: 90%;
}

.modal-wide .modal-body {
  overflow-y: auto;
}

.modal-content{
  overflow: auto;
  overflow-x: hidden;
}

.portlet-body{
  overflow: auto;
  overflow-x: hidden;
}

fieldset{
  padding-top: 5px;
  background-color: #fff;
}
.the-legend {
    border-style: none;
    border-width: 0;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    background-color: #f5f5f5;
    min-width: 100px;
    width: auto;
    padding: 0 40px;
    border-top: 1px solid #e3e3e3;
    border-right: 1px solid #e3e3e3;
    border-left: 1px solid #e3e3e3;
    border-radius: 4px;
}
.the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

.btn {
    margin-right: 5px;
}


.users-list{
  overflow: auto;
   height: 100%;
   min-height: 500px;
  width:auto;
   
  max-height: 300px;

 }
 .user-list > ul{
  padding-left: 5px;
 }
.users-list > li {
  width: 12%;  
  margin: 10px;
  text-align: center;
  float: right;
}
.users-list > li img {
  border-radius: 50%;
  max-width: 100%;
 
  height: auto;
}
.users-list > li > a:hover,
.users-list > li > a:hover .users-list-name {
  color: #999;
}
.users-list-name,
.users-list-date {
  display: block;
}
.users-list-name {
  font-weight: 600;
  color: #444;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.users-list-date {
  color: #999;
  font-size: 12px;
}
.games-index{
  text-align: center;
}
/*fgdf*/

.fixture_detail{
    position: relative;
    text-align: center;
    border-radius: 15px;
       
    margin: 2px;


}
 

.latest_result > .fixture_detail > h2, .vc_latest_result .fixture_detail > h2{
    position: relative;
    text-transform: uppercase;
    padding: 0 0 20px;
}

.fixture_detail h3{
    position: relative;
    text-transform: uppercase;
    padding: 0 0 20px;
    margin: 0 0 35px;
     
}

.latest_result h3, .vc_latest_result h3{
    color:#d61919;
    padding: 0;
    margin: 0 0 45px;
}

.latest_result h3:after, .vc_latest_result h3:after{
    display: none;
}

.fixture_detail h3:after, .latest_result > .fixture_detail > h2:after, .vc_latest_result .fixture_detail > h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 30px;
    height: 3px;
    background: #ec1919;
    margin: 0 0 0 -15px;
}

.fixture_detail .command_left{
    float: left;
    width: 50%;
    padding-top: 10px;
     
     
}

.fixture_detail .command_right{
    width: 50%;
    float: right;
    text-align: left;
    padding-top: 10px;
     
}

.fixture_detail .goals{
    float: right;
    text-align: right;
    margin: 0 90px 0 0;
     

}

.fixture_detail .goals h2{
    font-size: 20px;
    text-transform: uppercase;
    padding: 0 0 14px 10px;     
    display: inline-block;
    margin: 0 0 16px;
}

.fixture_detail .goals h2 a{
    color: #fefefe;
    font-family: 'yekan';
}

 

.fixture_detail .command_right .goals h2{
    padding: 0 20px 14px 0;
}

.fixture_detail h4{
    color:#d61919;
    text-transform: uppercase;
    margin: 0 0 20px;
}

.fixture_detail .players{
    position: relative;
    padding: 0;
    list-style: none;
    margin: 0;
}

.fixture_detail .players li{
    font-size: 13px;
    line-height: 22px;
}

.vc_latest_result .fixture_detail .players li{
  color: #262626;
}

.fixture_detail .players li span{
    color:#c31919;
}

.fixture_detail .command_info{
    position: relative;
    float: right;
    margin: 0 10px 0 0;
     
}

.fixture_detail .command_info .score{
    width: 120px;
    height: 40px;
    
    text-align: right;
    padding: 0 5px 0 0;
    font-size: 50px;
    color: #fefefe;
    line-height: 80px;
      
}

.game-modal-trigger{
  color: #fefefe;
}

  

.noyet{
    background: #eee;
}

.noyet:after{
    border-left: 11px solid #eee;
}


.fixture_detail .command_info .score:after{
    content: '';
    position: absolute;
    right: -11px;
    top: 0;
    border-top: 32px solid transparent;     
    border-bottom: 32px solid transparent;
}

.fixture_detail .command_info .logo{
    position: absolute;
    left: -52px;
    top: -5px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    
}

.fixture_detail .command_info .logo img{
    max-width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px; 
    
}

.fixture_detail .command_right .command_info{
    float: left;
    margin: 0 0 0 19px;

}

.fixture_detail .command_right .goals{
    float: left;
    text-align: left;
    margin: 0 0 0 90px;
}

.fixture_detail .command_right .command_info .logo{
    left: auto;
    right: -52px;
}

.fixture_detail .command_right .command_info .score{
    text-align: left;
    padding: 0 0 0 20px;
}

.fixture_detail .command_right .command_info .score:after{
    left: -11px;
    right: auto;
    border-top: 32px solid transparent;
 
    border-left: transparent;
    border-bottom: 32px solid transparent;
}

.fixture_detail .fixture_info{
    display: block;
    text-align: center;
    font-size: 13px;
    line-height: 21px;
    float: right;
    width: 60%;
    color: #fefefe;
    padding: 2px 0 0;
    
}

.fixture_detail .number{
  
  float: right;
   
  text-align: right;
  padding-right: 10px;
  width: 20%;
  padding-bottom: 10px;
  color: #fff;
  font-size: 15px;
   
   
}
.fixture_detail .number .n{
  font-size: 20px;
  width: 30px;
  height: 30px;
  color: #000;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eee;
  background-color: #fff; 

   
   
}

.fixture_detail .tools{
  text-align: left;
  left: 10px;
  padding:10px; 
  float: left;
  width: 20%;
   
   
  
}

.fixture_detail .tools a{
   padding:2px;
   font-size: 20px;
  
}

 

 

 

 

.sp-table-caption{
    text-transform: uppercase;
}

.sp-template{
    margin: 0 0 30px;
    
}

.sp-data-table thead th{
    padding: 10px;
    background: #4f575e !important;
    font-size: 13px;
    color:#fff;
    text-transform: uppercase;
    font-weight: normal;
}

.sp-data-table tbody td{
    padding: 5px 10px;
    background: #2a3138;
    color:#fff;
    font-size: 15px;
    text-transform: uppercase;
}

.sp-data-table tbody tr:nth-child(even) td{
    background: #4f575e;
}

.sp-data-table tbody td a:hover{
    color:#ec1919 !important;
}

.sp-data-table tbody td a{
    color:#fff !important;
}

  .leg { display: none;}
 
#steps { 
  list-style:none; 
  width:100%; 
  overflow:hidden; 
  margin:0px; 
  padding:0px;

}
#steps a {
  font-size:24px; 
  float:left; 
  padding:20px; 
  color:#b0b1b3;
  background-color: #eee;
  margin:2px;
  border-radius: 5px;
  border:1px dashed #bbb;
}
#steps a span {font-size:11px; display:block;}
#steps a.current {
 color:#000;
 background-color: #00cc00;
 border:1px dashed #eee;
}
.round{
  border-radius: 5px;
  

   
  
}

.portlet-body{
  overflow: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

.background-image {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  display: block;
  background-image: url('../img/football-back.jpg');
  width: 1200px;
  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.no-rounds{
  font-size: 50px;
    text-align: center;
    height: 100%;
    width: 100%;
    padding-top: 15%;
    padding-bottom: 20px;
    background-color: #eee;
    border-radius: 5px;
    
    margin: 20px 0px;
    min-height: 400px;
}


.font-gold{
  color:  #FFD700;
}

.btn-tools{
  float: right;
  text-align: right;
}

.teams{
  min-height: 600px;
}
 
.handbal-back{
     background: url(../img/bg1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.volleyball-back{
     background: url(../img/bg3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.football-back{
     background: url(../img/bg2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.wpb_wrapper{
  background: rgb(20,20,20); /* for IE */
  background: rgba(20,20,20,0.79);
  margin: 5px;
  border-radius: 5px;
  
}

.wpb_wrapper:hover{
  background: rgb(30,30,30); /* for IE */
  background: rgba(30,30,30,0.89);
 
  border: 1px solid #eee;
   
  
  
}

.portlet2 {
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0;
    border-radius: 5px;


}

.portlet2.light{
      padding: 12px 20px 15px;
     

}

.portlet2.light.bordered {
    border: 2px solid #fff!important;
}

.portlet2.light.bordered>.portlet-title {
    border-bottom: 1px solid #eef1f5;
}

.portlet2.light>.portlet-title {
    padding: 0;
    min-height: 48px;
}

.portlet2>.portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
    min-height: 41px;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.portlet2.light>.portlet-title>.caption {
    color: #000;
    padding: 10px 0;
}

.portlet2>.portlet-title>.caption {
    float: right;
    display: inline-block;
    font-size: 18px;
    line-height: 18px;
    padding: 10px 0;
}

.portlet2>.portlet-title>.caption span a {
    color: #000;
}

.portlet2>.portlet-title>.caption span i {
    font-size: 20px;
}

.date_time span{
  display: block;
}

.venue span{
  display: block;
}

.f-xtra{
  font-size: 22px;

}

.player1{
  text-align: center;
}

.player2{
  text-align: center;
}
.border{
 
   
}

.left{
  float: left;
}

.right{
  float: right;
}

.xs-image img{
  width: 50px;
  height: 50px;
}

.the_game{

}

.the_game .tumb{    
   margin: 5px 2px 10px 2px;
}

.the_game .tumb .local{    
   font-size: 13px;
   text-align: center;
   padding-top: 10%;
}

.the_game .tumb .away{    
   font-size: 13px;
   text-align: center;
   padding-top: 10%;

}

.the_game .tumb .point{    
   font-size: 30px;
   text-align: center;
   padding-top: 5%;
}

.the_game .mtumb{    
   margin: 5px 2px 5px 2px;
   
    margin: 5px; 
    height: 55px;

}

.the_game .mtumb .local{    
   font-size: 10px;
   line-height: 30px;
   text-align: center;
   
   color: #000;
   padding-top: 5%;
    
}

.the_game .mtumb .away{    
   font-size: 10px;
   line-height: 30px;
   text-align: center;
   
   color: #000;
   padding-top: 5%;
    
}

.the_game .mtumb .point{    
   font-size: 20px;
   line-height: 30px;
   text-align: center;
   padding-top: 5%;
    
}

.the_game .mtumb .logo{    
   
   padding-top: 2%;
    
}

.the_game .info{    
    
  margin-bottom: 35px;
}

 

 


 

 

.the_game .info .rounds{    
   width: 60%;
   text-align: center;
   
   padding-right: 14%; 
}

.the_game  .round{    
  width: 80%;
  height: 20px;
  margin: 2px;
  text-align: center;
     
}

 

 

.line{
  margin: 10px 0px 20px 0px;
  border-bottom: 1px solid #eee;
}

.x2{
  width: 70%;
}

.the_game .info .round{
  margin-bottom: 20px;    

    
}

.the_game .goals{
  margin-bottom: 20px;
  padding-top: 30px;
}


.the_game .goals .home{
  width: 48%;
  float: right;
  margin: 2px;
}

.the_game .goals .away{
  width: 48%;
  float: left;
}


.the_game .goals .home .goal{
  direction: ltr;
  text-align: left;
}

.the_game .goals .away .goal{
  direction: rtl;
  text-align: right;
}

.the_game .setting{

}


.the_game  .tools{
   
  padding-right: 20px;
   
}

.the_game .info{   
  padding-right: 20px;
  text-align: left; 
}

.the_game .info li {
   height: 30px;
   line-height: 30px;
}
.the_game .info li.label {
  float: right;   
  margin: 20px 2px 10px 0px;
  padding: 0px;
}

.date_time{
  font-family:Tahoma;
  font-size: 12px;
}


.bracket-btn{
  font-size: 15px;
  color: #F1C40F;
   
}

.draw-btn{
  font-size: 15px;
  color: #ed6b75;
   
}

.result-btn{
  font-size: 15px;
  color: #36c6d3;

}


.game-modal-trigger-player2-summary:hover{
  box-shadow: all;

}

.md-logo{
    position: absolute;
     
    width: 150px;
    height: 150px;
    overflow: hidden;
    
}

.md-logo img {
    max-width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
}

.mlogo{
    padding-top: 2%;
    width: 40px;
    height: 40px;
    overflow: hidden;
}

.mlogo img{
    max-width: 100%;
    height: auto;
    border: 1px solid #000;
    border-radius: 5px;
}


.summary-content{
  min-height: 200px;
  height: auto;
  overflow: auto;
  overflow-y: hidden;
  overflow-x: hidden;
}

.team .name{
  text-align: right;
  
}
 

.headerOps{
  background-color: #eee;
  
}

.tiles .tile .tile-object>.status {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-size: 10px;
    letter-spacing: .01em;
    line-height: 14px;
    margin-bottom: 6px;
    margin-left: 2px;     
    padding:1px 3px;
    border-radius: 2px;
    }

    .white{
      color: #fff;
    }

    .tiles .tile .tile-object>.namee {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 15px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.tiles .tile:hover{
   
  border: 2px solid #000;
}

.minilogo{
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #eee;
}

.tiles .tile.doublee {
    width: 23%!important;
}
#bracket_container{
  width: 100%;
  min-height: 300px;
  
  border-radius: 5px;
  margin: 10px;
  overflow: auto;
  text-align: center;

}

#bracket_container .text{
  font-size: 50px;  
  color: #000;
  margin-top: 100px;
  margin-bottom: 20px;
}

.modal .modal-vlg{
  width:95%;

}

.bracket thead tr th{
  text-align: center;
  background-color: #ddd;
}

tr td.center{
  text-align: center;
}

.bracket-update{
  min-height: 600px;
}

.gamelist{
  min-height: 600px;
}


 .pool{
  width: 100%;
  padding: 20px;
 }
 

 .col-min{
  width: 40px;
 }

 .table-single{
  font-size: 90%; 
  margin:1em 2em 1em 1em;
 }

 .red{
  color: #EE219A;

 }
 .blue{
  color: #6495ED;
 }

 .green{
  color: #008000;
 }
  
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}



.bracket.single 
{
     width: 100%;
     height: 600px;
     background-color: #eee;
} 

#bracket-single  .body
{
  width: 100%;
  background-color: #eee;
  overflow: auto;
}

#bracket-single  .body > .rounds{
   width: 100%;
   
     
}



#bracket-single  .body > .rounds > .round
{
 
  width: 200px;
  float: right;
  height: 100%;
   margin: 5px;
  

}

#bracket-single  .body > .rounds > .round .head
{
  height: 10%;
  margin-bottom: 2px;
  background-color: #777;
  padding: 5px;
  color: #fff; 
  border-radius: 5px;

}

#bracket-single  .body > .rounds > .round > .body 
{
  height: 90%;
  background-color: #bbb;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #eee;
   

}

#bracket-single  .body > .rounds > .round > .body .game
{
  margin-bottom: 8px; 

}

#bracket-single  .body > .rounds > .round > .body .game .home
{
  background-color: #fff;
  margin: 1px;
  border: 1px solid #eee;
   border-radius: 5px;
   height: 30px;

}

#bracket-single  .body > .rounds > .round > .body .game .away
{
   background-color: #fff;
   margin: 1px;
   border-radius: 5px;
   height: 30px;

}



 

.bracket.single  .footer .action
{
  
   
}


.game-label{
  color: #000;
  text-align: right;
  padding: 2px;
}
 

.cbtn{
      display: inline-block;
    margin-bottom: 2px;
    font-weight: 400;
    text-align: center;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.cbtn.purple {
    background-color: #8E44AD;
    color: #fff;
}

.cbtn.blue {
    background-color: #3598DC;
    color: #fff;
}

.clogo img{
  width: 150px;
  height: 150px;
}

.publish
{
    background-image: url("../img/yes.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 16px;

}

.nopublish
{
    background-image: url("../img/no.png");
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 16px;

}

.game-result
{
   
  font-size: 18px;
}

.game-result .tumb{
  margin: 10px 1px;
}

.game-result .tumb .node{
  text-align: center;
}
.game-result .tumb .l
{
  font-weight: bold;
  line-height: 30px;
  padding-top: 20px;
  color: #000;
  font-size: 28px;
  text-align: center;
}

.text-l{
  text-align: left;
}

.text-r{
  text-align: right;
}

.standing-pos-1
{
  color: #d9a441;
  font-size: 20px;
}

.standing-pos-2
{
  color: #ccc2c2;
  font-size: 18px;
}

.standing-pos-3
{
  color: #965a38;
  font-size: 16px;
}

._winner{
  background-color:#98FB98
}

._losser{
  background-color: #FFE4E1
}

 


 

 

 