<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
            <tr>
                <td>19</td>
                <td>تهران - باهنر كرمان</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>20</td>
                <td>شاهرود- ارومیه</td>
                <td>10:45</td>
            </tr>
            <tr>
                <td>21</td>
                <td>زنجان - گیلان</td>
                <td>13:30</td>
            </tr>
            <tr>
                <td>22</td>
                <td>صنعتی اصفهان - بابل</td>
                <td>14:15</td>
            </tr>
            <tr>
                <td>23</td>
                <td>ایلام - چمران اهواز</td>
                <td>16:00</td>
            </tr>
            <tr>
                <td>24</td>
                <td>شیراز - خوارزمی</td>
                <td>17:45</td>
            </tr>
        </table>

