<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
            <tr>
                <td>29</td>
                <td>برنده بازی 25 - برنده بازی 26</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>30</td>
                <td>بازنده بازی 25 - بازنده بازی 26</td>
                <td>11:00</td>
            </tr>
            <tr>
                <td>31</td>
                <td>برنده بازی 27- برنده بازی 28 </td>
                <td>13:00</td>
            </tr>
            <tr>
                <td>32</td>
                <td>بازنده بازی 27- بازنده بازی 28 </td>
                <td>15:00</td>
            </tr>
        </table>