<table class="tbl1 table-striped table-hover">
            <tr>
                <th>بازی</th>
                <th>مسابقه بین دانشگاه</th>
                <th>ساعت برگزاری</th>
                <th> كسب مقام </th>
            </tr>
            <tr>
                <td>33</td>
                <td>بازنده بازی 30- بازنده بازی 32</td>
                <td>9:00</td>
                <td>7و8</td>
            </tr>
            <tr>
                <td>34</td>
                <td>برنده بازی 30 - برنده بازی 32</td>
                <td>11:00</td>
                <td>5و6</td>
            </tr>
            <tr>
                <td>35</td>
                <td>بازنده بازی 29 - بازنده بازی 31 </td>
                <td>13:00</td>
                <td>3و4</td>
            </tr>
            <tr>
                <td>36</td>
                <td>  برنده بازی 29 - برنده بازی 31 </td>
                <td>15:00</td>
                <td>1و2</td>
            </tr>
        </table>
