<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
            <tr>
                <td>1</td>
                <td>بیرجند- همدان</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>2</td>
                <td>تهران-ارمیه</td>
                <td>10:45</td>
            </tr>
            <tr>
                <td>3</td>
                <td>كرمان - شاهرود</td>
                <td>12:30</td>
            </tr>
            <tr>
                <td>4</td>
                <td>زنجان - بابل</td>
                <td>14:15</td>
            </tr>
            <tr>
                <td>5</td>
                <td>فردوسی مشهد - شهركرد</td>
                <td> 16:00</td>
            </tr>
            <tr>
                <td>6</td>
                <td>گیلان - اصفهان</td>
                <td> 17:45</td>
            </tr>
        </table>