<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
            <tr>
                <td>7</td>
                <td>ایلام  - خوارزمی</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>8</td>
                <td>چمران اهواز - شیراز</td>
                <td>10:45</td>
            </tr>
            <tr>
                <td>9</td>
                <td>بیرجند - شهركرد</td>
                <td>13:30</td>
            </tr>
            <tr>
                <td>10</td>
                <td>تهران - شاهرود</td>
                <td>14:15</td>
            </tr>
            <tr>
                <td>11</td>
                <td>فردوسی مشهد - همدان</td>
                <td>16:00</td>
            </tr>
            <tr>
                <td>12</td>
                <td>باهنر كرمان - ارومیه</td>
                <td> 17:45</td>
            </tr>
        </table>