<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
            <tr>
                <td>13</td>
                <td>زنجان -  صنعتی اصفهان</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>14</td>
                <td>گیلان - بابل</td>
                <td>10:45</td>
            </tr>
            <tr>
                <td>15</td>
                <td>ایلام - شیراز</td>
                <td>13:30</td>
            </tr>
            <tr>
                <td>16</td>
                <td>چمران اهواز - خوارزمی</td>
                <td>14:15</td>
            </tr>
            <tr>
                <td>17</td>
                <td>فردوسی مشهد - بیرجند</td>
                <td> 16:00</td>
            </tr>
            <tr>
                <td>18</td>
                <td>همدان- شهركرد</td>
                <td> 17:45</td>
            </tr>
        </table>