<table class="tbl1 table-striped table-hover">

            <tr>
                <th>بازی</th>
                <th>مسابقه بین دانشگاه</th>
                <th>ساعت برگزاری</th>
            </tr>
            <tr>
                <td>25</td>
                <td>اول گروه الف - دوم گروه د</td>
                <td>9:00</td>
            </tr>
            <tr>
                <td>26</td>
                <td> اول گروه ج - دوم گروه ب </td>
                <td>11:00</td>
            </tr>
            <tr>
                <td>27</td>
                <td>اول گروه د- دوم گروه الف </td>
                <td>13:00</td>
            </tr>
            <tr>
                <td>28</td>
                <td>اول گروه ب - دوم گروه ج</td>
                <td>15:00</td>
            </tr>
        </table>