<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>-</td>
        <td>پرتاب پنالتی</td>
        <td>10:00</td>
    </tr>
</table>