<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th> كسب مقام </th>
    </tr>
    <tr>
        <td>33</td>
        <td>بازنده بازی 31 با بازنده بازی 32</td>
        <td>7و 8</td>
    </tr>
    <tr>
        <td>34</td>
        <td>برنده بازی 31 با برنده بازی 32</td>
        <td>5و 6</td>
    </tr>
    <tr>
        <td>35</td>
        <td>بازنده بازی 29 با بازنده بازی 30 </td>
        <td>3و 4</td>
    </tr>
    <tr>
        <td>36</td>
        <td>  برنده بازی 29 با برنده بازی 30 </td>
        <td>1و 2</td>
    </tr>
</table>
