<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>1</td>
        <td>دانشگاه شهید باهنر-دانشگاه الزهرا</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>دانشگاه شیراز- دانشگاه شاهرود</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>3</td>
        <td>دانشگاه فردوسی-دانشگاه خلیج فارس</td>
        <td>12:00</td>
    </tr>
    <tr>
        <td>4</td>
        <td>دانشگاه شهید بهشتی-دانشگاه زنجان</td>
        <td>13:30</td>
    </tr>
    <tr>
        <td>5</td>
        <td>دانشگاه تهران- دانشگاه گیلان</td>
        <td> 15:00</td>
    </tr>
    <tr>
        <td>6</td>
        <td>دانشگاه اصفهان-دانشگاه صنعتی اصفهان</td>
        <td> 16:30</td>
    </tr>
    <tr>
        <td>7</td>
        <td>دانشگاه خوارزمی-دانشگاه حكیم سبزواری</td>
        <td> 18:00</td>
    </tr>
    <tr>
        <td>8</td>
        <td>دانشگاه بوعلی سینا- دانشگاه تبریز</td>
        <td>19:30 </td>
    </tr>
</table>