<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>17</td>
        <td>دانشگاه گیلان -دانشگاه  صنعتی اصفهان</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>18</td>
        <td>دانشگاه اصفهان- دانشگاه تهران</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>19</td>
        <td>دانشگاه خوارزمی-دانشگاه بوعلی سینا</td>
        <td>12:00</td>
    </tr>
    <tr>
        <td>20</td>
        <td>دانشگاه حكیم سبزواری-دانشگاه تبریز</td>
        <td>13:30</td>
    </tr>
    <tr>
        <td>21</td>
        <td>دانشگاه شاهرود- دانشگاه الزهرا</td>
        <td> 15:00</td>
    </tr>
    <tr>
        <td>22</td>
        <td>دانشگاه شیراز-دانشگاه باهنر</td>
        <td> 16:30</td>
    </tr>
    <tr>
        <td>23</td>
        <td>دانشگاه فردوسی-دانشگاه بهشتی</td>
        <td> 18:00</td>
    </tr>
    <tr>
        <td>24</td>
        <td>دانشگاه زنجان- دانشگاه خلیج فارس</td>
        <td>19:30 </td>
    </tr>
</table>
