<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
    </tr>
    <tr>
        <td>25</td>
        <td>اول A با دوم D</td>
    </tr>
    <tr>
        <td>26</td>
        <td>اول B با دوم C</td>
    </tr>
    <tr>
        <td>27</td>
        <td>دوم A با اول D</td>
    </tr>
    <tr>
        <td>28</td>
        <td>دوم B با اول C</td>
    </tr>
</table>

