<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
    </tr>
    <tr>
        <td>29</td>
        <td>برنده بازی 25 با برنده بازی 26</td>
    </tr>
    <tr>
        <td>30</td>
        <td>برنده بازی 27 با برنده بازی 28</td>
    </tr>
    <tr>
        <td>31</td>
        <td>بازنده بازی 25 با بازنده بازی 26 </td>
    </tr>
    <tr>
        <td>32</td>
        <td>  بازنده بازی 27 با بازنده بازی 28 </td>
    </tr>
</table>