<table class="tbl1 table-striped table-hover">
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>9</td>
        <td>دانشگاه خلیج فارس-دانشگاه شهید بهشتی</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>10</td>
        <td>دانشگاه زنجان- دانشگاه فردوسی</td>
        <td>10:30</td>
    </tr>
    <tr>
        <td>11</td>
        <td>دانشگاه صنعتی اصفهان-دانشگاه تهران</td>
        <td>12:00</td>
    </tr>
    <tr>
        <td>12</td>
        <td>دانشگاه گیلان-دانشگاه اصفهان</td>
        <td>13:30</td>
    </tr>
    <tr>
        <td>13</td>
        <td>دانشگاه تبریز- دانشگاه خوارزمی</td>
        <td> 15:00</td>
    </tr>
    <tr>
        <td>14</td>
        <td>دانشگاه حكیم سبزواری-دانشگاه بوعلی سینا</td>
        <td> 16:30</td>
    </tr>
    <tr>
        <td>15</td>
        <td>دانشگاه شاهرود-دانشگاه باهنر</td>
        <td> 18:00</td>
    </tr>
    <tr>
        <td>16</td>
        <td>دانشگاه الزهرا- دانشگاه شیراز</td>
        <td>19:30 </td>
    </tr>
</table>
