<h1 style="direction:rtl">نحوه برگزاری و برنامه مسابقات</h1>
<p style="direction:rtl">جدول گروه بندی در تاریخ : 95/3/31</p>

<table border="1" style="direction:rtl">
    <tr direction="rtl">
        <td>ردیف</td>
        <td>گروه  الف</td>
        <td>گروه ب</td>
        <td>گروه ج</td>
        <td>گروه د</td>
    </tr>
    <tr>
        <td>1</td>
        <td>تهران</td>
        <td>بیرجند</td>
        <td>شهید بهشتی</td>
        <td>شیراز</td>
    </tr>
    <tr>
        <td>2</td>
        <td>صنعتی اصفهان</td>
        <td>تبریز</td>
        <td>صنعتی شاهرود</td>
        <td>اصفهان</td>
    </tr>
    <tr>
        <td>3</td>
        <td>كردستان</td>
        <td>فردوسی مشهد</td>
        <td>شهید باهنر كرمان</td>
        <td>الزهرا(س)</td>
    </tr>
    <tr>
        <td>4</td>
        <td>ارومیه</td>
        <td>بوعلی سینا</td>
        <td>شهید چمران اهواز</td>
        <td>اردبیل</td>
    </tr>
</table>

<p style="direction:rtl">جدول زمانبندی مسابقات:</p>
<p style="direction:rtl;align:center;">دور مقدماتی : 95/4/29</p>
<table border="1" style="direction:rtl">
    <tr direction="rtl">
        <td>بازی</td>
        <td>مسابقه بین دانشگاه</td>
        <td>ساعت برگزاری</td>
    </tr>
    <tr>
        <td>1</td>
        <td>تهران-ارومیه</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>صنعتی اصفهان-كردستان</td>
        <td>10:15</td>
    </tr>
    <tr>
        <td>3</td>
        <td>بیرجند-بوعلی سینا</td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>4</td>
        <td>شهید بهشتی-شهید چمران اهواز</td>
        <td>12:45 </td>
    </tr>
    <tr>
        <td>5</td>
        <td>ص شاهرود-شهید باهنر كرمان</td>
        <td> 14:00</td>
    </tr>
    <tr>
        <td>6</td>
        <td>شیراز- اردبیل</td>
        <td> 15:15</td>
    </tr>
    <tr>
        <td>7</td>
        <td>اصفهان-الزهرا(س)</td>
        <td>16:30 </td>
    </tr>
    <tr>
        <td>8</td>
        <td>تبریز-فردوسی مشهد</td>
        <td>17:45 </td>
    </tr>
</table>

<p style="direction:rtl;align:center;">دور مقدماتی : 95/4/30</p>
<table border="1" style="direction:rtl">
    <tr direction="rtl">
        <td>بازی</td>
        <td>مسابقه بین دانشگاه</td>
        <td>ساعت برگزاری</td>
    </tr>
    <tr>
        <td>9</td>
        <td>شهید بهشتی- شهید باهنر كرمان</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>10</td>
        <td>شهید چمران اهواز- ص شاهرود</td>
        <td>10:15</td>
    </tr>
    <tr>
        <td>11</td>
        <td>شیراز-الزهرا(س) </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>12</td>
        <td>اردبیل-اصفهان </td>
        <td>12:45 </td>
    </tr>
    <tr>
        <td>13</td>
        <td>بوعلی سینا- تبریز</td>
        <td> 14:00</td>
    </tr>
    <tr>
        <td>14</td>
        <td>تهران-كردستان</td>
        <td> 15:15</td>
    </tr>
    <tr>
        <td>15</td>
        <td>ارومیه - صنعتی اصفهان</td>
        <td>16:30 </td>
    </tr>
    <tr>
        <td>16</td>
        <td>بیرجند-فردوسی مشهد</td>
        <td>17:45 </td>
    </tr>
</table>

<p style="direction:rtl;align:center;">دور مقدماتی : 95/4/31</p>
<table border="1" style="direction:rtl">
    <tr direction="rtl">
        <td>بازی</td>
        <td>مسابقه بین دانشگاه</td>
        <td>ساعت برگزاری</td>
    </tr>
    <tr>
        <td>17</td>
        <td>شیراز-اصفهان</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>18</td>
        <td>الزهرا(س)-اردبیل</td>
        <td>10:15</td>
    </tr>
    <tr>
        <td>19</td>
        <td>تهران- صنعتی اصفهان </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>20</td>
        <td>كردستان-ارومیه </td>
        <td>12:45 </td>
    </tr>
    <tr>
        <td>21</td>
        <td>شهید بهشتی-شاهرود</td>
        <td> 14:00</td>
    </tr>
    <tr>
        <td>22</td>
        <td>بیرجند-تبریز</td>
        <td> 15:15</td>
    </tr>
    <tr>
        <td>23</td>
        <td>شهید باهنر كرمان-شهید چمران اهواز</td>
        <td>16:30 </td>
    </tr>
    <tr>
        <td>24</td>
        <td>فردوسی مشهد-بوعلی سینا</td>
        <td>17:45 </td>
    </tr>
</table>

<p style="direction:rtl;align:center;">دور دوم :یك چهارم 95/5/2</p>
<table border="1" style="direction:rtl">
    <tr direction="rtl">
        <td>بازی</td>
        <td>مسابقه بین دانشگاه</td>
        <td>ساعت برگزاری</td>
    </tr>
    <tr>
        <td>25</td>
        <td>اول گروه الف- دوم گروه د</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>26</td>
        <td>اول گروه ب- دوم گروه ج </td>
        <td>10:15 </td>
    </tr>
    <tr>
        <td>27</td>
        <td>دوم گروه الف - اول گروه د </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>28</td>
        <td>دوم گروه ب- اول گروه ج</td>
        <td>12:45</td>
    </tr>
</table>

<p style="direction:rtl;align:center;">مرحله نیمه نهایی:  95/5/3</p>
<table border="1" style="direction:rtl">
    <tr direction="rtl">
        <td>بازی</td>
        <td>مسابقه بین دانشگاه</td>
        <td>ساعت برگزاری</td>
    </tr>
    <tr>
        <td>29</td>
        <td>بازنده بازی 25- بازنده بازی 26</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>30</td>
        <td>برنده بازی 25-برنده بازی 26 </td>
        <td>10:15 </td>
    </tr>
    <tr>
        <td>31</td>
        <td>بازنده بازی 27- بازنده بازی 28 </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>32</td>
        <td>برنده بازی 27-برنده بازی 28</td>
        <td>12:45</td>
    </tr>
</table>

<p style="direction:rtl;align:center;">مرحله  نهایی:  95/5/4</p>
<table border="1" style="direction:rtl">
    <tr direction="rtl">
        <td>بازی</td>
        <td>مسابقه بین دانشگاه</td>
        <td>ساعت برگزاری</td>
        <td>كسب مقام</td>
    </tr>
    <tr>
        <td>33</td>
        <td>بازنده بازی 29- بازنده بازی 31</td>
        <td>9:00</td>
        <td>7 , 8  </td>
    </tr>
    <tr>
        <td>34</td>
        <td>برنده بازی 29-برنده بازی 31 </td>
        <td>10:15 </td>
        <td>5,6</td>
    </tr>
    <tr>
        <td>35</td>
        <td>بازنده بازی 30- بازنده بازی 32 </td>
        <td>11:30 </td>
        <td>3,4</td>
    </tr>
    <tr>
        <td>36</td>
        <td>برنده بازی 30-برنده بازی 32</td>
        <td>12:45</td>
        <td>1,2</td>
    </tr>
</table>

<p style="direction:rtl;align:center;">اعضای كمیته فنی:</p>
<p style="direction:rtl;align:center;">رئیس انجمن</p>
<p style="direction:rtl;align:center;">سرپرست فنی</p>
<p style="direction:rtl;align:center;">یك داور منتخب</p>
<p style="direction:rtl;align:center;">دو نفر از مربیان یا سرپرستان كه در جلسه هماهنگی از طرف كلیه مربیان یا سرپرستان تیم های حاضر انتخاب خواهند شد.</p>
</body>
</html>