<table class="tbl1 table-striped table-hover">

    <tr>
        <th>ساعت</th>
        <th>ماده</th>
        <th>مرحله</th>

    </tr>
    <tr>

        <td>18:30</td>
        <td>100 متر</td>
        <td>مقدماتی</td>
    </tr>
    <tr>

        <td>18:30</td>
        <td>پرش ارتفاع</td>
        <td>نهایی</td>
    </tr>
    <tr>

        <td>18:30</td>
        <td>پرتاب وزنه</td>
        <td>نهایی</td>
    </tr>
    <tr>

        <td>19:00</td>
        <td>400 متر</td>
        <td>نهایی</td>
    </tr>
    <tr>

        <td>19:30</td>
        <td>800 متر</td>
        <td>نهایی</td>
    </tr>
    <tr>

        <td>19:30</td>
        <td>100 متر</td>
        <td>نهایی</td>
    </tr>
</table>