<table class="tbl1 table-striped table-hover">
 <tr>
        <th>ساعت</th>
        <th>ماده</th>
        <th>مرحله</th>

    </tr>
	<tr>

        <td>18:00</td>
        <td>پرتاب دیسک</td>
        <td>نهایی</td>
     </tr>
     <tr>
        
        <td>18:30</td>
        <td>پرش طول</td>
        <td>نهایی</td>
     </tr>
     <tr>
        
        <td>19:00</td>
        <td>200 متر</td>
        <td>نهایی</td>
     </tr>
     <tr>
        
        <td>19:30</td>
        <td>1500 متر</td>
        <td>نهایی</td>
     </tr>
     <tr>
        
        <td>19:30</td>
        <td>4*400</td>
        <td>نهایی</td>
     </tr>     
</table>