<table class="tbl1 table-striped table-hover">
 <tr>
        <th>ساعت</th>
        <th>ماده</th>
        <th>مرحله</th>

    </tr>
<tr>
        <td>18:30</td>
        <td>پرش طول</td>
        <td>انتخابی</td>
     </tr>
     <tr>
        
        <td>18:30</td>
        <td>100 مانع</td>
        <td>نهایی</td>
     </tr>

    
          <tr>
        
        <td>18:30</td>
        <td>پرتاب نیزه</td>
        <td>نهایی</td>
     </tr>
     <tr>
        
        <td>19:00</td>
        <td>200 متر</td>
        <td>مقدماتی</td>
     </tr>
     <tr>
        
        <td>19:30</td>
        <td>5000متر</td>
        <td>نهایی</td>
     </tr>
     <tr>
        
        <td>20:00</td>
        <td>4*100</td>
        <td>نهایی</td>
     </tr>
</table>