body {
    direction:rtl;
    font-family: "Yekan";
    font-size: 13px;
    line-height: 2em;
    /*background: url(../img/bg_page.jpg) no-repeat center -30px;*/
    background: #f0f0f0;
    
}
a, a:hover, a:focus, a:active {
   outline: 0;
}
div.logo {
    float: left;
    margin-top: 20px;
}
.nav-tabs > li > a {
    border-radius: 0;
}
.footer {
    text-align: center;
    margin:10px auto;

}
.footer a {
    font-size:13px;
    color:#555;
}
.footer a:hover {
    text-decoration: none;
}
.intrpage .nav-tabs {
    border-color: #9a7caf;
}
.intrpage .nav-tabs > li.active > a, 
.intrpage .nav-tabs > li.active > a:focus, 
.intrpage .nav-tabs > li.active > a:hover {
    border-color: #9a7caf #9a7caf transparent;
    border-width: 4px 1px 0 1px;
}
.intrpage .nav-tabs>li>a:hover {
    border-color:#fff;
}
.main {
    padding:20px;
}
.container {
    background: #fff;
}
.h1, .h2, .h3, 
.h4, .h5, .h6, h1, 
h2, h3, h4, h5, h6 {
    font-family: "Yekan";
}
h1 {
    font-size: 22px;
}
h2{
    font-size: 20px;
    margin-bottom: 20px;
}
h4 {
    font-size: 18px;
    /*border-bottom: 2px #e7505a solid;*/
    display: inline-block;
    padding-bottom: 10px;
}
.bs-glyphicons a:hover {
    text-decoration: none;
    color:#fff;
}
.bs-glyphicons a:active {
    text-decoration: none;
}
.bs-glyphicons a {
    color:#34495e;
    padding:20px;
    display: block;
    height: 135px;
    cursor: pointer;
}
.page-header {
    border-bottom:2px solid #39961b;
    background: #39961b;
    color: #fff;
    padding-bottom: 15px;
    margin-top:50px;
    padding: 20px 5px;
}
.bs-glyphicons {
    margin-bottom: 50px;
}
.bs-glyphicons li,
.bs-glyphicons div.hitm {
    font-size: 18px;
    height: 135px;
    float: right;
    padding: 0;
}

.bs-glyphicons.bg-color-blue li:hover,
.bs-glyphicons.bg-color-blue .hitm:hover,
.bs-glyphicons.bg-color-blue .bscr:hover {
    background-color: #5b9bd1;
}
.bs-glyphicons.bg-color-purple li:hover,
.bs-glyphicons.bg-color-purple .hitm:hover,
.bs-glyphicons.bg-color-blue .gscr:hover {
    background-color: #9a7caf;
}
.bs-glyphicons.bg-color-orange li:hover,
.bs-glyphicons.bg-color-orange .hitm:hover {
    background-color: #FC3;
}

.font-color-gold {
    color:#F4D03F;
}
.font-color-silver {
    color:#ccc !important;
}
.font-color-bronze {
    color:#C0392B;
}
.font-color-red {
    color: #e7505a;
}
.font-color-green {
    color:#39961b;
}
.font-color-yellow {
    color:#f7ca18;
}
.font-color-blue {
    color:#5b9bd1;
}
.font-color-black {
    color:#222;
}
.font-bold {
    font-weight: bold;
}
.bs-glyphicons li i,
.bs-glyphicons div.hitm i {
    font-size: 42px;
}

.teams .bs-glyphicons li {
    background: #fff;
    border-left: 1px #f9f9f9 solid;
    border: 2px #fff solid;
    text-align: center;
    width: 16%;
    font-size: 12px;
    height: 150px;

}
.temember .bs-glyphicons li {
    width: 20%;
    line-height: 1em;
    height:161px;
    cursor: default;
}
.temember .bs-glyphicons {
    margin-bottom: 10px;
}
.temember .bs-glyphicons li:hover {
    color:#000;
}
.modal-content {
    padding:20px;
}
.modal-footer {
    margin-top: 0;
}
.teams .bs-glyphicons li span {
    display: block;
    margin: 10px;
}
.teams .bs-glyphicons li:hover {
    border:2px #f9f9f9 solid;
    background: #fff;
}
.teams .bs-glyphicons a:hover {
    color:#39961b;
}
.teams .bs-glyphicons a,
.bs-glyphicons div.hitm a {
    padding:20px 5px;
}
.bs-glyphicons-list {
    padding-right: 0;
}

.nav-pills > li > a {
    border-radius: 0;
}
.nav-pills > li > a:hover {
    background-color: #f6f6f6;
}
.hdc {
    overflow: hidden;
}
.hdc a {
    color:#34495e;
}
.hdc .nav-pills .active a,
.hdc .nav-pills .active a:active,
.hdc .nav-pills .active a:focus,
.hdc .nav-pills .active a:hover {
    background-color: #9a7caf;
    padding:20px;
}
.hdc .nav-pills-5 .active a,
.hdc .nav-pills-5 .active a:active,
.hdc .nav-pills-5 .active a:focus,
.hdc .nav-pills-5 .active a:hover {
    background-color: #5b9bd1;
    padding:20px;
}
.hdc .nav-pills a {
    padding:20px;
    font-size: 16px;
}
.fldh {
    text-align: center;
}
.fldh span {
    font-size: 20px;
    display: block;
}
.fldh i {
    font-size:80px;
}
.hdc .nav-pills i {
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
}
.font-size-20 {
    font-size: 20px !important;
}
.font-size-22 {
    font-size: 22px !important;
}
.font-size-28 {
    font-size: 28px !important;
}
.cnttxt {
    margin-bottom: 30px;
}
.cnttxt ul {
    margin:20px 5px;
}
.cnttxt h4 {
    margin-top: 20px;
}
.inout span {
    display: block;
}
.inout span i {
    font-size: 14px;
    margin-left: 5px;
    
}
.scalendar .nav-tabs span {
    display: block;
}
.scalendar .nav-tabs .monthname {
    display: block;
}
.scalendar .nav-tabs li {
    width: 60px;
    text-align: center;
    border-bottom:1px #f0f0f0 solid;
    font-size: 14px;
    border-bottom: 0;
    margin-left:3px;
    height: 61px;
    line-height: 1.5em;
}

.scalendar .nav-tabs .mn {
    padding:10px 15px;
}
.scalendar .nav-tabs .active,
.scalendar .nav-tabs .active a,
.scalendar .nav-tabs li.active > a,
.scalendar .nav-tabs .active a:focus,
.scalendar .nav-tabs .active a:active {
   background: #019058 !important;
   color:#fff; 
   border-width:0 !important;
}
.scalendar .tbl1,
.scalendar .mtbl {
    width: 100%;
}
.scalendar .tbl1 th,
.scalendar .mtbl th {
    background: #9a7caf;
    padding: 10px;
    color:#fff;
}
.scalendar .tbl1 .unicon,
.scalendar .mtbl .unicon {
    width: 40px;
    margin-left:10px;
}
.scalendar .tbl1 .unispan,
.scalendar .mtbl .unispan {
    display: inline-block;
    margin-left: 30px;
    width: 200px;
}
.scalendar .tbl1 td,
.scalendar .mtbl td {
    padding: 10px;
}
.scalendar .nav-tabs li a,
.scalendar .nav-tabs li a:hover,
.scalendar .nav-tabs li a:focus,
.scalendar .nav-tabs li a:active {
    border-radius: 0;
    border-right-width: 0;
    border-top-width: 0;
    border-left-width: 0;
    margin-left: 0;
    text-decoration: none;
    background: #C8F7C5;
    font-size: 14px;
}
.scalendar .nav-tabs {
    border-bottom: 1px solid #ddd;
}
.scalendar .tab-content {
    /*padding:20px 0;*/
}
.scalendar .nav-tabs .deactive {
    color:#ccc;
    background: #f0f0f0;
}
.rcalendar .tbl1 .unispan,
.rcalendar .tbl1 .respan,
.rcalendar .mtbl .unispan,
.rcalendar .mtbl .respan {
    display: block;
    margin-top:5px;
}

.rcalendar .tbl1 .respan:first-child ,
.rcalendar .mtbl .respan:first-child {
    /*border-bottom:1px #ccc solid;*/
}
.align-center {
    text-align: center;
}
.rcalendar .tbl1 .respan span,
.rcalendar .mtbl .respan span {
    display: inline-block;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}
.smlsize-1 li {
    width: 12%;
    font-size: 14px;
    height: 130px;
    padding-top: 10px;
}
.smlsize-5 li {
    width: 12%;
    font-size: 14px;
    height: 130px;
    padding-top: 10px;
}
.smlsize-2 li {
    width: 10%;
    font-size: 14px;
    height: 120px;
    /*padding-top: 10px;*/
}
.smlsize-1 li i,
.smlsize-2 li i {
    font-size: 36px;
}
.smlsize-1 .factive {
    background: #9a7caf !important;
    color:#fff;
}
.smlsize-5 .factive {
    background-color: #5b9bd1 !important;
    color:#fff;
}
.smlsize-1 .factive a,
.smlsize-5 .factive a {
    color:#fff;
}
.sactive {
    background-color: #FC3 !important;
}
.sactive a {
    color:#fff;
}
.subfield li {
    width: 16%;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding-top: 0;
}
.subfield li a {
    height: 50px;
    padding:0;
}
.intrpage .nav-tabs {
    font-size: 16px;
}
.intrpage .intrpane .tab-pane {
    padding:20px;
}
.tresult th i {
    font-size: 30px;
}
.totalmedal {
    width:150px !important;
    
}
.totalmedal a,
.totalmedal a:active,
.totalmedal a:focus {
    background: #e7505a !important;
    color:#fff;
    height: 100%;
}
.update-time {
    margin:10px 5px 15px;
    text-align: left;
}
.update-time i {
    margin-left: 5px;
}
#girls-sdtble_filter,
#girls-mdtble_filter,
#boys-sdtble_filter,
#boys-mdtble_filter {
    text-align: left;
}
#girls-mdtble_paginate,
#girls-sdtble_paginate,
#boys-mdtble_paginate,
#boys-sdtble_paginate {
    text-align: left;
}
#girls-mdtble .unispan,
#girls-sdtble .unispan,
#boys-mdtble .unispan,
#boys-sdtble .unispan {
    width:auto;
}
.ajax-loader {
    text-align: center;
    margin:100px auto;
}
.bs-glyphicons-list .unicon {
    width:70px;
}
.intrpage {
    margin-top:-40px;
    padding-bottom: 100px;
}
.pagination > li:last-child > a, 
.pagination > li:last-child > span,
.pagination > li:first-child > a, 
.pagination > li:first-child > span {
    border-radius:0;
}
.input-group-sm > .form-control, 
.input-group-sm > .input-group-addon, 
.input-group-sm > .input-group-btn > .btn, 
.input-sm {
    border-radius: 0;
}
.noborder {
    border:0 !important;
}
.temember img {
    width:80px;
    height: 90px;
    margin-top:10px;
}
.rounded {
    border-radius: 50%;
}
.evdt {
    font-size: 16px;
    margin:0 10px;
    padding:0 10px;
}
.fnsh {
    background:#d8d8d8;
    
}
.curn {
    background: #A1D490;
}
.scr-sel {
    width: 400px;
    margin:auto;
}
.scr-sel ul li {
    width:150px;
    height: 150px;
    font-size: 20px;
    padding-top: 10px;
    margin-left: 20px;
}
.scr-sel ul li i {
    font-size: 60px;
}
@media (max-width:400px) {
    h1 {
        font-size: 18px;
    }
}

@media (max-width:766px) {
    .teams .bs-glyphicons li {
        width: 30%;
    }
}

@media (max-width:400px) {
    .teams .bs-glyphicons li {
        width: 50%;
    }
}