@font-face {
	font-family: 'BYekan';
	src: url('../fonts/BYekan.eot?#') format('eot'),
		url('../fonts/BYekan.woff') format('woff'),
		url('../fonts/BYekan.ttf') format('truetype');
}

@font-face {
	font-family: 'Yekan';
	src: url('../fonts/Yekan.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Yekan.woff') format('woff'),
		url('../fonts/Yekan.ttf')  format('truetype'),
		url('../fonts/Yekan.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'yekan';
	src: url('../fonts/Yekan.eot'); /* IE9 Compat Modes */
	src: url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Yekan.woff') format('woff'),
		url('../fonts/Yekan.ttf')  format('truetype'),
		url('../fonts/Yekan.svg#svgFontName') format('svg');
}

@font-face {
	font-family: 'XSANS';
	src: url('../fonts/XEROSANS-BOLD.woff') format('woff'),
		url('../fonts/XEROSANS-BOLD.ttf')  format('truetype');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: 'XSANS';
	src: url('../fonts/XEROSANS-BLACK.woff') format('woff'),
		url('../fonts/XEROSANS-BLACK.ttf')  format('truetype');
	font-weight: bold;
	font-style: normal
}

@font-face {
	font-family: 'semsfont';
	src: url('../fonts/semsfont.eot?tqu2nc');
	src: url('../fonts/semsfont.eot?tqu2nc#iefix') format('embedded-opentype'),
		url('../fonts/semsfont.ttf?tqu2nc') format('truetype'),
		url('../fonts/semsfont.woff?tqu2nc') format('woff'),
		url('../fonts/semsfont.svg?tqu2nc#semsfont') format('svg');
	font-weight: normal;
	font-style: normal;
}