@font-face {
  font-family: 'hd-fonts';
  src:  url('../fonts/hd-fonts.eot?8k2p2w');
  src:  url('../fonts/hd-fonts.eot?8k2p2w#iefix') format('embedded-opentype'),
    url('../fonts/hd-fonts.ttf?8k2p2w') format('truetype'),
    url('../fonts/hd-fonts.woff?8k2p2w') format('woff'),
    url('../fonts/hd-fonts.svg?8k2p2w#hd-fonts') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-hd-"], [class*=" icon-hd-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'hd-fonts' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hd-boy:before {
  content: "\e907";
}
.icon-hd-hijab:before {
  content: "\e908";
}
.icon-hd-medal2:before {
  content: "\e906";
}
.icon-hd-hold:before {
  content: "\e905";
}
.icon-hd-info:before {
  content: "\e904";
}
.icon-hd-chart:before {
  content: "\e903";
}
.icon-hd-cup:before {
  content: "\e902";
}
.icon-hd-medal:before {
  content: "\e900";
}
.icon-hd-ribbon:before {
  content: "\e901";
}

