[class^="icon-fum-"], [class*=" icon-fum-"] {
    font-family: "semsfont" !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.icon-fum-basketball::before {
    content: "";
}
.icon-fum-coach .path1::before {
    color: rgb(0, 0, 0);
    content: "";
}
.icon-fum-coach .path2::before {
    color: rgb(0, 0, 0);
    content: "";
    margin-left: -1em;
}
.icon-fum-coach .path3::before {
    color: rgb(0, 0, 0);
    content: "";
    margin-left: -1em;
}
.icon-fum-coach .path4::before {
    color: rgb(0, 0, 0);
    content: "";
    margin-left: -1em;
}
.icon-fum-coach .path5::before {
    color: rgb(0, 0, 0);
    content: "";
    margin-left: -1em;
}
.icon-fum-coach .path6::before {
    color: rgb(255, 255, 255);
    content: "";
    margin-left: -1em;
}
.icon-fum-coach .path7::before {
    color: rgb(0, 0, 0);
    content: "";
    margin-left: -1em;
}
.icon-fum-teams::before {
    content: "";
}
.icon-fum-matches::before {
    content: "";
}
.icon-fum-finance-managment::before {
    content: "";
}
.icon-fum-scan-management::before {
    content: "";
}
.icon-fum-match::before {
    content: "";
}
.icon-fum-orgchart::before {
    content: "";
}
.icon-fum-protest::before {
    content: "";
}
.icon-fum-record::before {
    content: "";
}
.icon-fum-referee::before {
    content: "";
}
.icon-fum-result::before {
    content: "";
}
.icon-fum-role-management::before {
    content: "";
}
.icon-fum-rules::before {
    content: "";
}
.icon-fum-settings::before {
    content: "";
}
.icon-fum-stadiums::before {
    content: "";
}
.icon-fum-swimming::before {
    content: "";
}
.icon-fum-technical-committee::before {
    content: "";
}
.icon-fum-track::before {
    content: "";
}
.icon-fum-track-win::before {
    content: "";
}
.icon-fum-transport::before {
    content: "";
}
.icon-fum-trash::before {
    content: "";
}
.icon-fum-universities::before {
    content: "";
}
.icon-fum-university-agent::before {
    content: "";
}
.icon-fum-user-management::before {
    content: "";
}
.icon-fum-weigh::before {
    content: "";
}
.icon-fum-weightlifting::before {
    content: "";
}
.icon-fum-shooting::before {
    content: "";
}
.icon-fum-wrestling::before {
    content: "";
}
.icon-fum-zhu::before {
    content: "";
}
.icon-fum-food::before {
    content: "";
}
.icon-fum-football::before {
    content: "";
}
.icon-fum-gym::before {
    content: "";
}
.icon-fum-handball::before {
    content: "";
}
.icon-fum-jujitsu::before {
    content: "";
}
.icon-fum-karate::before {
    content: "";
}
.icon-fum-taekwondo::before {
    content: "";
}
.icon-fum-volleyball::before {
    content: "";
}
.icon-fum-ping-pong::before {
    content: "";
}
.icon-fum-swordsmanship::before {
    content: "";
}
.icon-fum-archery::before {
    content: "";
}
.icon-fum-athlete::before {
    content: "";
}
.icon-fum-badminton::before {
    content: "";
}
.icon-fum-biking::before {
    content: "";
}
.icon-fum-calendar::before {
    content: "";
}
.icon-fum-card::before {
    content: "";
}
.icon-fum-carevan::before {
    content: "";
}
.icon-fum-cavaran-admin::before {
    content: "";
}
.icon-fum-draw::before {
    content: "";
}
.icon-fum-fields::before {
    content: "";
}