<table class="tbl1 table-striped table-hover">
    <caption> نتایج نهایی مسابقات شنا- تیمی</caption>
<tbody><tr><th>ردیف</th><th style="text-align:right;padding-right:30px;">دانشگاه</th><th class="align-center">جمع امتیاز</th><th class="align-center">مقام</th></tr>
                <tr><td>۱</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه تهران</span></td><td>۳۴۲</td><td class="align-center"><span class="respan1">مقام اول</span></td></tr>
                <tr><td>۲</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه فردوسی مشهد</span></td><td>۳۰۵</td><td class="align-center"><span class="respan1">مقام دوم</span></td></tr>
                <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه شیراز</span></td><td>۱۶۰</td><td class="align-center"><span class="respan1">مقام سوم</span></td></tr>
                <tr><td>۴</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه رازی کرمانشاه</span></td><td>۱۴۹</td><td class="align-center"><span class="respan1">مقام چهارم</span></td></tr>
                <tr><td>۵</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه اصفهان</span></td><td>۱۳۲</td><td class="align-center"><span class="respan1">مقام پنجم</span></td></tr>
                <tr><td>۶</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه صنعتی امیرکبیر</span></td><td>۱۳۲</td><td class="align-center"><span class="respan1">مقام پنجم</span></td></tr>
                <tr><td>۷</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه تبریز</span></td><td>۱۲۰</td><td class="align-center"><span class="respan1">مقام هفتم</span></td></tr>
                <tr><td>۸</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه فنی و حرفه ای</span></td><td>۱۰۰</td><td class="align-center"><span class="respan1">مقام هشتم</span></td></tr>
                <tr><td>۹</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه صنعتی اصفهان</span></td><td>۹۹</td><td class="align-center"><span class="respan1">مقام نهم</span></td></tr>
                <tr><td>۱۰</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه الزهرا</span></td><td>۸۹</td><td class="align-center"><span class="respan1">مقام دهم</span></td></tr>
            </tbody>
</table>