<table class="tbl1 table-striped table-hover">
    <caption>مرحله نهایی</caption>
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
        <th>كسب مقام</th>
    </tr>
    <tr>
        <td>33</td>
        <td>بازنده بازی 29- بازنده بازی 31</td>
        <td>9:00</td>
        <td>7 , 8  </td>
    </tr>
    <tr>
        <td>34</td>
        <td>برنده بازی 29-برنده بازی 31 </td>
        <td>10:15 </td>
        <td>5,6</td>
    </tr>
    <tr>
        <td>35</td>
        <td>بازنده بازی 30- بازنده بازی 32 </td>
        <td>11:30 </td>
        <td>3,4</td>
    </tr>
    <tr>
        <td>36</td>
        <td>برنده بازی 30-برنده بازی 32</td>
        <td>12:45</td>
        <td>1,2</td>
    </tr>
</table>