<table class="tbl1 table-striped table-hover">
    <caption>دور مقدماتی</caption>

    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>9</td>
        <td>شهید بهشتی- شهید باهنر كرمان</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>10</td>
        <td>شهید چمران اهواز- ص شاهرود</td>
        <td>10:15</td>
    </tr>
    <tr>
        <td>11</td>
        <td>شیراز-الزهرا(س) </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>12</td>
        <td>اردبیل-اصفهان </td>
        <td>12:45 </td>
    </tr>
    <tr>
        <td>13</td>
        <td>بوعلی سینا- تبریز</td>
        <td> 14:00</td>
    </tr>
    <tr>
        <td>14</td>
        <td>تهران-كردستان</td>
        <td> 15:15</td>
    </tr>
    <tr>
        <td>15</td>
        <td>ارومیه - صنعتی اصفهان</td>
        <td>16:30 </td>
    </tr>
    <tr>
        <td>16</td>
        <td>بیرجند-فردوسی مشهد</td>
        <td>17:45 </td>
    </tr>
</table>