<table class="tbl1 table-striped table-hover">
    <caption>دور مقدماتی</caption>
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>1</td>
        <td>تهران-ارومیه</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>2</td>
        <td>صنعتی اصفهان-كردستان</td>
        <td>10:15</td>
    </tr>
    <tr>
        <td>3</td>
        <td>بیرجند-بوعلی سینا</td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>4</td>
        <td>شهید بهشتی-شهید چمران اهواز</td>
        <td>12:45 </td>
    </tr>
    <tr>
        <td>5</td>
        <td>ص شاهرود-شهید باهنر كرمان</td>
        <td> 14:00</td>
    </tr>
    <tr>
        <td>6</td>
        <td>شیراز- اردبیل</td>
        <td> 15:15</td>
    </tr>
    <tr>
        <td>7</td>
        <td>اصفهان-الزهرا(س)</td>
        <td>16:30 </td>
    </tr>
    <tr>
        <td>8</td>
        <td>تبریز-فردوسی مشهد</td>
        <td>17:45 </td>
    </tr>
</table>