<table class="tbl1 table-striped table-hover">
    <caption>دور مقدماتی</caption>

    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>17</td>
        <td>شیراز-اصفهان</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>18</td>
        <td>الزهرا(س)-اردبیل</td>
        <td>10:15</td>
    </tr>
    <tr>
        <td>19</td>
        <td>تهران- صنعتی اصفهان </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>20</td>
        <td>كردستان-ارومیه </td>
        <td>12:45 </td>
    </tr>
    <tr>
        <td>21</td>
        <td>شهید بهشتی-شاهرود</td>
        <td> 14:00</td>
    </tr>
    <tr>
        <td>22</td>
        <td>بیرجند-تبریز</td>
        <td> 15:15</td>
    </tr>
    <tr>
        <td>23</td>
        <td>شهید باهنر كرمان-شهید چمران اهواز</td>
        <td>16:30 </td>
    </tr>
    <tr>
        <td>24</td>
        <td>فردوسی مشهد-بوعلی سینا</td>
        <td>17:45 </td>
    </tr>
</table>