<table class="tbl1 table-striped table-hover">
    <caption>دور دوم : یك چهارم</caption>
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>25</td>
        <td>اول گروه الف- دوم گروه د</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>26</td>
        <td>اول گروه ب- دوم گروه ج </td>
        <td>10:15 </td>
    </tr>
    <tr>
        <td>27</td>
        <td>دوم گروه الف - اول گروه د </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>28</td>
        <td>دوم گروه ب- اول گروه ج</td>
        <td>12:45</td>
    </tr>
</table>