<table class="tbl1 table-striped table-hover">
    <caption>مرحله نیمه نهایی</caption>
    <tr>
        <th>بازی</th>
        <th>مسابقه بین دانشگاه</th>
        <th>ساعت برگزاری</th>
    </tr>
    <tr>
        <td>29</td>
        <td>بازنده بازی 25- بازنده بازی 26</td>
        <td>9:00</td>
    </tr>
    <tr>
        <td>30</td>
        <td>برنده بازی 25-برنده بازی 26 </td>
        <td>10:15 </td>
    </tr>
    <tr>
        <td>31</td>
        <td>بازنده بازی 27- بازنده بازی 28 </td>
        <td>11:30 </td>
    </tr>
    <tr>
        <td>32</td>
        <td>برنده بازی 27-برنده بازی 28</td>
        <td>12:45</td>
    </tr>
</table>