<table class="tbl1 table-striped table-hover">
    <caption> نتایج مسابقات تکواندو</caption>
    <tbody><tr><th>ردیف</th><th style="text-align:right;padding-right:30px;">دانشگاه</th><th class="align-center">جمع امتیاز</th><th class="align-center">مقام</th></tr>
        <tr><td>۱</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه فردوسی مشهد</span></td><td>۳۹</td><td class="align-center"><span class="respan1">مقام اول</span></td></tr>
        <tr><td>۲</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه الزهرای تهران</span></td><td>۳۷</td><td class="align-center"><span class="respan1">مقام دوم</span></td></tr>
        <tr><td>۳</td><td style="text-align:right;padding-right:30px;"><span class="respan-0">دانشگاه شهید مدنی تبریز</span></td><td>۲۲</td><td class="align-center"><span class="respan1">مقام سوم</span></td></tr>
    </tbody>
</table>