<table class="tbl1 table-striped table-hover">
    <tr>

        <td>1</td>
        <td>200 متر قورباغه</td>

    </tr>
    <tr>
        <td>2</td>

        <td>50 متر پروانه</td>

    </tr>
    <tr>

        <td>3</td>
        <td>100 متر کرال</td>

    </tr>
    <tr>

        <td>4</td>

        <td>50 متر آزاد</td>

    </tr>
    <tr>


        <td>5</td>
        <td>4*50 متر مختلط تیمی</td>

    </tr>
</table>