<table class="tbl1 table-striped table-hover">
    <tr>

        <td>1</td>
        <td>200 متر آزاد</td>
    </tr>
    <tr>

        <td>2</td>

        <td>100 متر قورباغه</td>
    </tr>
    <tr>

        <td>3</td>

        <td>50 متر کرال</td>
    </tr>
    <tr>

        <td>4</td>

        <td>4*100 متر آزاد تیمی</td>
    </tr>
</table>