<table class="tbl1 table-striped table-hover">
<tr>
        <th>مسابقه </th>
        <th>ساعت برگزاری</th>
     </tr>
     <tr>

        <td>فینال بازی های آزاد یک نفره</td>
        <td>9:00</td>
     </tr>
     <tr>
        <td>فینال بازی های آزاد دو نفره</td>
        <td>11:00</td>
     </tr>

   </table>