    <table class="tbl1 table-striped table-hover">
    <tr>
        <th>مسابقه </th>
        <th>ساعت برگزاری</th>
     </tr>
     <tr>

        <td>دوره اول بازی های تیمی از جدول حذفی</td>
        <td>8:00</td>
     </tr>
     <tr>
        <td>دوره اول بازی های آزاد (یک نفره و دو نفره )</td>
        <td>10:30</td>
     </tr>
     <tr>
        <td>دوره دوم بازی های تیمی از جدول حذفی</td>
        <td>16:00</td>
     </tr>
     <tr>
         <td colspan="2" style="text-align: center;font-weight: bold;">رده بندی پنجم تا هشتم جدول تیمی</td>
     </tr>
     <tr>
        <td>دوره دوم بازی های آزاد(یک نفره و دو نفره)</td>
        <td>18:00</td>
     </tr>
  </table>

<table class="tbl1 table-striped table-hover">
  
<tr>
        <th>مسابقه </th>
        <th>ساعت برگزاری</th>
     </tr>
     <tr>

        <td>فینال بازی های تیمی جدول نهایی</td>
        <td>8:30</td>
     </tr>
     <tr>
        <td>ادامه بازی های آزاد (یک نفره و دو نفره)</td>
        <td>10:00</td>
     </tr>
     <tr>
        <td>بازی های نیمه نهایی</td>
        <td>17:00</td>
     </tr>
    </table>