<table class="tbl1 table-striped table-hover">
    <caption> مقدماتی دوره اول </caption>
    <tr>
        <th>بازی </th>
        <th>مسابقه بین دانشگاه</th>
        <th>شماره زمین</th>
        <th>ساعت برگزاری</th>

    </tr>
    <tr>
        <td>1 </td>
        <td>پیام نور تهران - بو علی سینا</td>
        <td>یک</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>2 </td>
        <td>تهران - صنعتی بابل</td>
        <td>دو</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>3 </td>
        <td>زنجان - خلیج فارس</td>
        <td>سه</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>4 </td>
        <td>فنی حرفه ای تهران - ص شاهرود</td>
        <td>چهار</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>5 </td>
        <td>فردوسی مشهد - تبریز</td>
        <td>یک</td>
        <td>11:00</td>
    </tr>
    <tr>
        <td>6 </td>
        <td>قم - صنعتی اصفهان</td>
        <td>دو</td>
        <td>11:00</td>
    </tr>
    <tr>
        <td>7 </td>
        <td>خوارزمی - هرمزگان</td>
        <td>سه</td>
        <td>11:00</td>
    </tr>
    <tr>
        <td>8 </td>
        <td>شیراز - مازندران</td>
        <td>چهار</td>
        <td>11:00</td>
    </tr>
</table>
