<table class="tbl1 table-striped table-hover">

    <caption> مقدماتی دوره دوم</caption>
    <tr>
        <th>بازی </th>
        <th>مسابقه بین دانشگاه</th>
        <th>شماره زمین</th>
        <th>ساعت برگزاری</th>

    </tr>
    <tr>
        <td>1 </td>
        <td>پیام نور تهران - تبریز</td>
        <td>یک</td>
        <td>8:30</td>
    </tr>
    <tr>
        <td>2</td>
        <td>تهران - صنعتی اصفهان</td>
        <td>دو</td>
        <td>8:30</td>

    </tr>
    <tr>
        <td>3 </td>
        <td>زنجان - هرمزگان</td>
        <td>سه</td>
        <td>8:30</td>

    </tr>
    <tr>
        <td>4 </td>
        <td>فنی حرفه ای تهران - مازندران</td>
        <td>چهار</td>
        <td>8:30</td>

    </tr>
    <tr>
        <td>5 </td>
        <td>فردوسی مشهد - بوعلی سینا</td>
        <td>یک</td>
        <td>11:00</td>
    </tr>
    <tr>
        <td>6 </td>
        <td>قم - صنعتی بابل</td>
        <td>دو</td>
        <td>11:00</td>

    </tr>
    <tr>
        <td>7</td>
        <td>خوارزمی - خلیج فارس</td>
        <td>سه</td>
        <td>11:00</td>

    </tr>
    <tr>
        <td>8 </td>
        <td>شیراز - ص شاهرود</td>
        <td>چهار</td>
        <td>11:00</td>

    </tr>
</table>
<br><br>
<table class="tbl1 table-striped table-hover">

    <caption> مقدماتی دوره سوم</caption>
    <tr>
        <th>بازی </th>
        <th>مسابقه بین دانشگاه</th>
        <th>شماره زمین</th>
        <th>ساعت برگزاری</th>

    </tr>
    <tr>
        <td>1 </td>
        <td>پیام نور تهران - فردوسی مشهد</td>
        <td>یک</td>
        <td>15:00</td>
    </tr>
    <tr>
        <td>2 </td>
        <td>تهران - قم</td>
        <td>دو</td>
        <td>15:00</td>

    </tr>
    <tr>
        <td>3 </td>
        <td>زنجان - خوارزمی </td>
        <td>سه</td>
        <td>15:00</td>

    </tr>
    <tr>
        <td>4 </td>
        <td>فنی و حرفه ای تهران - شیراز</td>
        <td>چهار</td>
        <td>15:00</td>

    </tr>
</table>
<div style="text-align: center;"><b> قرعه کشی جداول بازی های آزاد</b></div>      

<br><br>
<table class="tbl1 table-striped table-hover">

    <caption> مقدماتی دوره سوم</caption>
    <tr>
        <th>بازی </th>
        <th>مسابقه بین دانشگاه</th>
        <th>شماره زمین</th>
        <th>ساعت برگزاری</th>

    </tr>
    <tr>
        <td>1</td>
        <td>تبریز - بوعلی سینا همدان</td>
        <td>یک</td>
        <td>18:00</td>
    </tr>
    <tr>
        <td>2 </td>
        <td>صنعتی اصفهان- صنعتی بابل</td>
        <td>دو</td>
        <td>18:00</td>

    </tr>
    <tr>
        <td>3 </td>
        <td>هرمزگان - خلیج فارس بوشهر</td>
        <td>سه</td>
        <td>18:00</td>

    </tr>
    <tr>
        <td>4 </td>
        <td>مازندران - ص شاهرود</td>
        <td>چهار</td>
        <td>18:00</td>
    </tr>

</table>
    <div style="text-align: center"><b> قرعه کشی مرحله حذفی</b></div>      
